{% extends 'teste.html' %}
{% load static %}

{% block title %}
Patrimônio
{% endblock title %}

{% block button_adicionar %}
{% endblock button_adicionar %}

{% block input_pesquisa %}
<input type="search" class='form-control rounded border-secondary' placeholder="Pesquisa" aria-label="Search" aria-labelledby="search-addon" id='query' autocomplete="off">
{% endblock input_pesquisa %}

{% block botao_pesquisa %}
<button class="btn btn-outline-primary" id='pesquisaPatrimonio'>Pesquisar</button>
{% endblock botao_pesquisa %}

{% block scripts %}
<script>
    $('#pesquisaPatrimonio').click(function(acao){
        acao.preventDefault();
        let query = $('#query').val();
        if(query.length >= 2 ){
            $.ajax({
                type: 'GET',
                url: '{% url "patrimonio_view" %}',
                data: {
                    'query': query,
                },
                beforeSend: function(){
                    $('#modificar').html();
                },
                success: function(data){
                    let items = data['items']
                    if(items.length >=1){
                        $('#modificar').html(items)
                    }else {
                        $('#msgerro').remove()
                        $('#modificar').html('')
                        $('#divTabela').css('background-image', 'url({% static "img/baeeckground.png" %})')
                        $('#divTabela').append('<div id="msgerro" class="d-flex justify-content-center d-flex align-items-center pt-1"><p class="text-muted">Nada Encontrado!</p></div>')
                    }
                },
                error: function(request, status, error){
                    alert('erro!')
                }
            });
        }
    });
</script>
{% endblock scripts %}

{% block style %}
tbody > td {
    color:white;
}

#divTabela {
    background-image: url('{% static "img/baeeckground.png" %}');
    background-position: center;
    background-repeat: no-repeat;
}
{% endblock style %}


{% block tabela %}
<div class="container-fluid p-0 m-0 fonte-arial" id='modificar'>
    <div class="col-12 text-center p-4">
        <h5>Bota o patrimônio ae na pesquisa!</h5>
    </div>
</div>
{% endblock tabela %}