{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<style>

</style>
{% block corpo %}
    <style>
        body {
            background-color:rgb(246, 240, 250);
        }
    </style>
    <main>
        <div class="container mt-5">
            <div class='row'>
                <div class="col-lg-5 m-auto">
                    <div class="card mt-5">
                        <div class="card-title text-center mt-4">
                            <i class="fas fa-user-circle fa-5x"></i>
                        </div>
                        <div class="card-body mt-3">
                            {% if form.errors %}
                                <div class="alert alert-danger" role='alert'>
                                    {% for key, value in form.errors.items %}
                                        {{ value }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        
                            <form method="post">
                                {% csrf_token %}

                                <div class="input-group mb-3">
                                    {{ form.username }}
                                </div>
                                <div class="input-group mb-4">
                                    {{ form.password }}
                                </div>
                                <button class="btn btn-primary mb-3" type="submit">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class='container'>
            <div class="row">
                <div class="col-dm-auto">
                    <img src="{% static 'img/user-icon.jpg' %}" id='user-img' alt="Usuario"> -->
                    <!-- <form method="POST" class='form-inline'>
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button style='margin-top:10px;' type="submit" class='btn btn-outline-dark'>Login</button>
                    </form>
                </div>
            </div>
        </div> -->
    </main>
{% endblock corpo %}