body {
    font-family: 'Roboto', sans-serif;
    margin:0;
}

.row {
    margin: 0;
}

p, li {
    color:#444;
    font-size: 14px;
}

header .navbar {
    background-color: #353D41;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
    margin-left:20px
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0 5px;
    color: #FFF;
}

.navbar-brand:hover {
    color:#FFF;
}

#navbar-links a {
    color: #FFF;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}
#nav-container {
    font-family: Arial, Helvetica, sans-serif;
}

.conteudo-login{
    margin-top: 100px;
}
#user-img {
    width: 100px;
}

#primeiro, #segundo {
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;
}
p label {
    color:black;
    font-family: 'Times New Roman', Times, serif
}
.modal .modal-title, .modal .modal-body form label {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

.modal .modal-body p input, .modal-body form input {
    color:rgb(41, 38, 38);
    font-family: 'Times New Roman', Times, serif;
}
.modal .modal-body p select, .modal-body form select {
    color:rgb(41, 38, 38);
    font-family: 'Times New Roman', Times, serif;
}
.modal .modal-body p textarea, .modal-body form textarea {
    color:rgb(41, 38, 38);
    font-family: 'Times New Roman', Times, serif;
}

#modalAdicionarImpressora .fa-link:hover {
    color:green;
}

#tabelaFuncionario tr:hover{
    transform: scale(1.01);
    transition: 1.2s
}

#tabelaImpressora tr:hover{
    transform: scale(1.01);
    transition: 1.2s
}
.enderecos-nav {
    min-height: 100vh; 
    background-color: #353D41;
}
/* Sidebar   */
.side-nav {
    min-height: 100vh;
    background-color: #353D41;
    transition: 0.2s;
}
.hidden {
    transition: 0.2s;
    display: none;
    
}
#nav-side {
    transition: 0.3s;
    min-width: min-content;
}
.texto-menu {
    font-family: Arial, Helvetica, sans-serif;
}
.fonte-arial {
    font-family: Arial, Helvetica, sans-serif;
}
#nav-side .list-group-item {
    background-color:#353D41;
    border:none;
    color: rgba(255,255,255,.55);
}
.item-filho li {
    border: none;
}
.lista-u {
    transform: scale(1.01);
    transition: 1s;
    margin-left: 13px;
    
}
/*  */


.mobile {
    display: none;
}
/* Funcionarios  */
#modalDeletar {
    font-family: Arial, Helvetica, sans-serif;
}

/* Responsive */
@media (min-width: 1200px) {
    
    #primeiro {
        margin-top: 100px;
    }
}
@media (max-width: 600px) { 
    #nav-side {
        min-width: min-content;
    }
    #titulo-nav {
        /* display: none; */
        font-size: 0.9rem;
    }
    .enderecos-nav {
        max-height: max-content;
        min-height: min-content;
        background-color: white;
    }
    .enderecos-nav h5 {
        color: black;
    }
    .enderecos-nav li {
        background-color: white;
        color: black;   
    }
    #segundo {
        margin-top: 0px;
    }
    .esconder {
        display:none;
    }
    .mobile {
        display: inline;
    }
    @media (min-width: 992px) { 
        #titulo-nav {
            display:inline;
        }
    
    }
 }

/* Footer */
.rodapeText{
    color:white;
    font-family: Arial, Helvetica, sans-serif
}
