body {
    font-family: 'Roboto', sans-serif;
    margin:0;
}
.row {
    margin: 0;
}

p, li {
    color:#444;
    font-size: 14px;
}

header .navbar {
    background-color: #353D41;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
    margin-left:20px
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0 5px;
    color: #FFF;
}

.navbar-brand:hover {
    color:#FFF;
}

#navbar-links a {
    color: #FFF;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

.conteudo-login{
    margin-top: 100px;
}
#user-img {
    width: 100px;
}

#primeiro {
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;
}
/* Responsive */

@media (min-width: 1200px) {
    #primeiro {
        margin-top: 100px;
    }
}

/* Footer */
.rodapeText{
    color:white;
    font-family: Arial, Helvetica, sans-serif
}