{% extends 'teste.html' %}
{% load static %}


{% block style %}
.card img {
    width: 5vw;
}
.inputplaceholder::placeholder { 
    color: black;
    opacity: 0.5;
    font-family: Arial, Helvetica, sans-serif;
}

{% endblock style %}


{% block scripts %}
    <script>
        const forms_urls = {
            'computador_novo_ajax': '{% url "computador_novo_ajax" %}',
        }
    </script>
{% endblock scripts %}  

{% block tabela %}
{% if computadores %}

{% for computador in computadores %}
<div class="row p-1 ps-lg-3 m-0 mt-2 shadow d-flex justify-content-between rounded item-pai" style="font-family: Arial, Helvetica, sans-serif;">
    <div class="col-auto p-0 d-flex align-items-center d-flex justify-content-center ">
        <i class="fas fa-laptop-code fa-2x " aria-hidden="true"></i>
    </div>
    <div class="col-10 mt-0 item-filho hidden ms-4 ms-lg-4 p-lg-2">
        <div class="row m-0 p-0">
            <div class="col-12 col-lg-4 mb-lg-2">
                <ul class='list-group'>
                    <li class="list-group-item mt-0 p-0">
                        <b>Nome Rede:</b> {{computador.nome_rede}}
                    </li>
                    <li class="list-group-item mt-1 p-0">
                        <b>Sistema Operacional:</b>{% if computador.sistema_op %} {{computador.sistema_op}}{% else %} Indisponível {% endif %}
                    </li>
                    <li class="list-group-item mt-1 p-0">
                        <b>Memória RAM:</b>{% if computador.memoria_ram %} {{computador.memoria_ram}}{% else %} Indisponível {% endif %}
                    </li>
                    <li class="list-group-item mt-1 p-0">
                        <b>HD:</b>{% if computador.hd %} {{computador.hd.tamanho}}{% else %} Indisponível {% endif %}
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <ul class='list-group'>
                    <li class="list-group-item mt-1  p-0">
                        <b>AnyDesk:</b>{% if computador.anydesk %} {{computador.anydesk}}{% else %} Indisponível {% endif %}
                    </li>
                    <li class="list-group-item mt-1  p-0">
                        <b>Processador:</b>
                        {% if computador.processador %}
                        {{computador.processador.modelo}}
                        {% if computador.processador.frequencia %}
                            {{computador.processador.frequencia }} Ghz
                        {% endif %}
                        {% else %}
                        Indisponivel
                        {% endif %}
                    </li>
                    <li class="list-group-item mt-1  p-0">
                        <b>Placa Mãe:</b>
                        {% if computador.placa_mae %}
                        {{computador.placa_mae.marca}} - {{computador.placa_mae.modelo }}
                        {% else %}
                        Indisponivel
                        {% endif %}
                    </li>
                    <li class="list-group-item mt-1 p-0">
                        <b>Gabinete Patrimônio</b>
                        {% if computador.gabinete.patrimonio %}
                        {{ computador.gabinete.patrimonio }}
                        {% else %}
                        Indisponível
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <ul class='list-group'>
                    <li class="list-group-item mt-1  p-0">
                        <b>Endereço IP:</b> 
                        {% if computador.ip_computador.count %}
                        {{computador.ip_computador.first.ip_address }}
                        {% else %}
                        Indisponível
                        {% endif %}
                    </li>
                    <li class="list-group-item mt-1  p-0">
                        <b>Endereço MAC:</b>
                        {% if computador.mac_computador.count %}
                        {{computador.mac_computador.first.mac_address}}
                        {% else %}
                        Indisponível
                        {% endif %}
                    </li>
                    <li class="list-group-item mt-1  p-0">
                        <b>Placa Mãe:</b>
                        {% if computador.placa_mae %}
                        {{computador.placa_mae.marca}} - {{computador.placa_mae.modelo }}
                        {% else %}
                        Indisponivel
                        {% endif %}
                    </li>
                    <li class="list-group-item mt-1 p-0">
                        <b>Gabinete Patrimônio</b>
                        {% if computador.gabinete.patrimonio %}
                        {{ computador.gabinete.patrimonio }}
                        {% else %}
                        Indisponível
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col p-0 m-0 ps-3 d-flex justify-content-between">
        <div class='item-esconder'>
            <p class='mb-0 mt-2 '><b>{{computador.nome_rede}}</b></p>
            <span class='d-flex d-flex flex-column flex-lg-row mt-1' id='corpo-pesquisa'>
                <p class='mb-0 mt-0'>IP: {% for ip in computador.ip_computador.all %}{{ip}}{% endfor %}</p>
                <p class='mb-0 mt-0 ps-lg-2'>MAC: {% for mac in computador.mac_computador.all %}{{mac}}{%endfor %}</p>
            </span>
        </div>
        <span class='d-flex align-items-center d-flex me-4 text-dark'>
            <a href="{% url 'computador_visualizar' computador.id 'principal' %}"><i class="fas fa-eye"></i></a>
        </span>
    </div>
</div>
{% endfor %}
{% else %}
<div class="row">
    <div class="col-12">
        <h5 class='fonte-arial text-center'>Nada encontrado</h5>
    </div>
</div>

{% endif %}
{% endblock tabela %}

{% block modals %}

<div class="modal fade" tabindex="-1" id='modalAdicionarComputador'>
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="container d-flex p-0 justify-content-center rounded">
                    <div class="col">
                        <div class="row">
                            <div class="card p-0 col-12 col-md-4 col-lg-4 bg-success">
                                <div class="card-content">
                                    <div class="col d-flex justify-content-center d-flex align-items-center pt-4 pb-3">
                                        <img class='rounded-circle' src="{% static 'img/patrimonio.png' %}" alt="">
                                    </div>
                                    <div class="col p-5 pt-2">
                                        <h5 class='text-light text-center'>Informações Usuario & Departamento</h5>
                                        <div class="form-group mt-4">
                                            <div class="input-group border">
                                               
                                                <span class="input-group-text bg-success border-0">
                                                    <i class="fas fa-user"></i>
                                                </span>
                                                <input type="text" id='usuario-usuario' class="form-control bg-success border-0 inputplaceholder" placeholder='Exemplo: gustavo.silva' autocomplete="off" style='font-family: Arial, Helvetica, sans-serif;'>
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <div class="input-group border">
                                                <span class="input-group-text bg-success border-0">
                                                    <i class="fas fa-key"></i>
                                                </span>
                                                <input type="password" id='senha-senha' class="form-control bg-success border-0 inputplaceholder" placeholder='Senha Acesso'>
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <select name="departamento" id="departamento-departamento" class="form-control inputplaceholder bg-success" style='font-family: Arial, Helvetica, sans-serif;'>
                                                <option value="">--------------</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 col-lg-8 bg-light pb-4">
                                <div class="col p-3 pb-1 pt-4 d-flex justify-content-between">
                                    <h5 style='font-family: Arial, Helvetica, sans-serif;' class='text-center'>
                                        <i class="fas fa-tv pe-2"></i>
                                        Novo Computador
                                    </h5>
                                    <span data-bs-dismiss='modal'>
                                        <i class="fas fa-times text-dark"></i>
                                    </span>
                                </div>
                                <div class="col mt-3">
                                    <form id='form-computadornovo'>
                                        {% csrf_token %}
                                        <div class="row">
                                            {{formComputador.usuario}}
                                            {{formComputador.senha}}
                                            <div class="col" hidden>{{formComputador.departamento}}</div>
                                            <div class="form-group col-12 col-lg-6 mt-2">
                                                <label for="id_nome_rede">Nome Rede</label>
                                                {{ formComputador.nome_rede}}
                                            </div>
                                            <div class="form-group col-12 col-lg-6 mt-2">
                                                <label for="id_sistema_op">Sistema Operacional</label>
                                                {{ formComputador.sistema_op}}
                                            </div>
                                            <div class="form-group col-12 col-lg-6 mt-2">
                                                <label for="id_anydesk">AnyDesk</label>
                                                {{ formComputador.anydesk}}
                                            </div>
                                            <div class="form-group col-12 col-lg-6 mt-2">
                                                <label for="id_processador">Processador</label>
                                                {{ formComputador.processador}}
                                            </div>
                                            <div class="form-group col-12 col-lg-6 mt-2">
                                                <label for="id_memoria_ram">Memória RAM</label>
                                                {{ formComputador.memoria_ram}}
                                            </div>
                                            <div class="form-group col-12 col-lg-6 mt-2">
                                                <label for="id_hd">HD</label>
                                                {{formComputador.hd}}
                                            </div>
                                            <div class="form-group col-12 col-lg-6 mt-2">
                                                <label for="id_ip_endereco">Endereço IP</label>
                                                {{formComputador.ip_endereco}}
                                            </div>
                                            <div class="form-group col-12 col-lg-6 mt-2">
                                                <label for="id_endereco_mac">Endereço MAC</label>
                                                {{ formComputador.endereco_mac}}
                                            </div>
                                            <div class="form-group col-12 col-lg-6 mt-2">
                                                <label for="id_gabinete_patrimonio">Patrimônio Gabinete</label>
                                                {{ formComputador.gabinete_patrimonio}}
                                            </div>
                                            <div class="form-group col-12 col-lg-6 mt-2">
                                                <label for="id_monitor_patrimonio">Patrimônio Monitor</label>
                                                {{formComputador.monitor_patrimonio}}
                                            </div>
                                            <div class="col-12 mt-3 d-flex justify-content-end">
                                                <button id='novoComputadorButton' class="btn btn-success" style='font-family: Arial, Helvetica, sans-serif;'>Adicionar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock modals %}

{% block button_adicionar %}
<button class="btn btn-success fonte-arial" data-bs-toggle='modal' data-bs-target='#modalAdicionarComputador'>Adicionar</button>
{% endblock %}

{% block botao_pesquisa %}
<button type="submit" class="btn btn-primary fonte-arial" id='pesquisa_btn'>Pesquisa</button>
{% endblock botao_pesquisa %}


{% block nav_paginacao %}
    {% if computadores.has_previous %}
    <li class="page-item text-dark fonte-arial text-decoration-none"><a class="page-link" href="{% url 'computador' computadores.previous_page_number %}{% if pesquisa %}?query={{ pesquisa }}{% endif %}">Voltar</a></li>
    {% endif %}
    {% if computadores.has_other_pages %}
    <li class="page-item active text-dark fonte-arial text-decoration-none"><a class="page-link"  href="#">{{ computadores.number }}</a></li>
    {% endif %}
    {% if computadores.has_next %}
    <li class="page-item text-dark fonte-arial text-decoration-none"><a class="page-link" href="{% url 'computador' computadores.next_page_number %}{% if pesquisa %}?query={{ pesquisa }}{% endif %}">Next</a></li>
    {% endif %}
{% endblock nav_paginacao %}