{% extends 'base_listagem.html' %}

<!-- Titulo Página -->
{% block title %}
    Computadores
{% endblock title %}

{% block titulo_lista %}
    Computadores
{% endblock %}

<!-- Search Bar  -->
{% block botao_pesquisa %}
<button type="submit" class="btn btn-outline-primary" id='pesquisa_btn'>Pesquisa</button>
{% endblock botao_pesquisa %}

{% block button_adicionar %}
<a href='{% url "computador_add" %}' class="btn btn-outline-success">Adicionar</a>
{% endblock %}

{% block tabela %}
<div class="card-body table-responsive bg-dark">
    {% if computadores %}
    <table class="table table-sm table bg-dark text-light text-muted text-center">
        <thead>
            <th scope="col">ID</th>
            <th scope='col'>Nome</th>
            <th scope='col'>Patrimônio</th>
            <th scope="col">Departamento</th>
            <th scope="col">Funcionario</th>
            <th scope="col">Processador</th>
            <th scope='col'>OS</th>
            <th scope='col'>IP</th>
            <th scope='col'>MAC</th>
        </thead>
        <tbody>
            {% for computador in computadores %}
            <tr>
                <th scope="row">{{ computador.id }}</th>
                <td>{{ computador.nome_rede }}</td>
                <th>{{ computador.patrimonio }}</th>
                <td>
                    {% if computador.departamento %}
                    <a href="{% url 'departamento_visualizar' computador.departamento.id %}">
                        {{ computador.departamento }}
                    </a>
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {% if computador.funcionario.nome|length > 1 %}
                    <a href="{% url 'funcionario_visualizar' computador.funcionario.id %}">{{ computador.funcionario.nome }}</a>
                    {% else %}
                    {{ computador.funcionario.nome }}
                    {% endif %}

                </td>
                <td>{{ computador.processador.modelo }}</td>
                <td>{{ computador.sistema_op }}</td>
                <td>
                    {% for ip in computador.ip_computador.all %}
                        {{ ip }}
                    {% endfor %}
                </td>
                <td>
                    {% for mac in computador.mac_computador.all %}
                        {{ mac }}
                    {% endfor %}
                </td>
                <td><a href="{% url 'computador_edit' computador.id %}"><i class="fas fa-edit"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class='text-center'>
        <p>Nada Encontrado</p>
    </div>
    {% endif %}
</div>
{% endblock tabela %}

{% block nav_paginacao %}
    {% if computadores.has_previous %}
    <li class="page-item"><a class="page-link" href="{% url 'computador' computadores.previous_page_number %}{% if pesquisa %}?query={{ pesquisa }}{% endif %}">Voltar</a></li>
    {% endif %}
    {% if computadores.has_other_pages %}
    <li class="page-item active"><a class="page-link"  href="#">{{ computadores.number }}</a></li>
    {% endif %}
    {% if computadores.has_next %}
    <li class="page-item"><a class="page-link" href="{% url 'computador' computadores.next_page_number %}{% if pesquisa %}?query={{ pesquisa }}{% endif %}">Next</a></li>
    {% endif %}
{% endblock nav_paginacao %}