{% extends 'base.html' %}
{% load static %}
{% block corpo %}

<style>
    body {
        background-color:rgb(235, 232, 232);
    }
    .card img {
        width: 5vw;
    }
    #inputplaceholder::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: black;
        opacity: 0.5; /* Firefox */
}
</style>

<main>
    
    <div class="container d-flex mb-5 justify-content-center rounded" id='primeiro'>
        <div class="col">
            <div class="row">
                <div class="card p-0 col-12 col-lg-4 bg-success">
                    <div class="card-content">
                        <div class="col d-flex justify-content-center d-flex align-items-center pt-4 pb-3">
                            <img class='rounded-circle' src="{% static 'img/patrimonio.png' %}" alt="">
                        </div>
                        <div class="col p-5 pt-2">
                            <h5 class='text-light text-center'>Informações Usuario & Departamento</h5>
                            <div class="form-group mt-4">
                                <div class="input-group border">
                                   
                                    <span class="input-group-text bg-success border-0">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <input id='inputplaceholder' type="text" class="form-control bg-success border-0" placeholder='Exemplo: gustavo.silva'>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <div class="input-group border">
                                    <span class="input-group-text bg-success border-0">
                                        <i class="fas fa-key"></i>
                                    </span>
                                    <input id='inputplaceholder' type="password" class="form-control bg-success border-0" placeholder='Exemplo: 12345'>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <select name="" id="" class="form-control bg-success">
                                    <option value="Oi"> Departamento</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-8 bg-light pb-4">
                    <div class="col p-3 pb-1 pt-4">
                        <h5 style='font-family: Arial, Helvetica, sans-serif;' class='text-center'>Novo Computador</h5>
                    </div>
                    <div class="col mt-3">
                        <form >
                            <div class="row">
                                <div class="form-group col-12 col-lg-6 mt-2">
                                    <label for="">Nome Rede</label>
                                    <input type="text" class='form-control' placeholder='Exemplo: PRE-010'>
                                </div>
                                <div class="form-group col-12 col-lg-6 mt-2">
                                    <label for="">Sistema Operacional</label>
                                    <input type="text" class='form-control' placeholder='Ex: Windows 10'>
                                </div>
                                <div class="form-group col-12 col-lg-6 mt-2">
                                    <label for="">AnyDesk</label>
                                    <input type="text" class='form-control'>
                                </div>
                                <div class="form-group col-12 col-lg-6 mt-2">
                                    <label for="">Processador</label>
                                    <input type="text" class='form-control'>
                                </div>
                                <div class="form-group col-12 col-lg-6 mt-2">
                                    <label for="">Memória RAM</label>
                                    <input type="text" class='form-control'>
                                </div>
                                <div class="form-group col-12 col-lg-6 mt-2">
                                    <label for="">HD</label>
                                    <input type="text" class='form-control'>
                                </div>
                                <div class="form-group col-12 col-lg-6 mt-2">
                                    <label for="">Endereço IP</label>
                                    <input type="text" class='form-control'>
                                </div>
                                <div class="form-group col-12 col-lg-6 mt-2">
                                    <label for="">Endereço MAC</label>
                                    <input type="text" class='form-control'>
                                </div>
                                <div class="form-group col-12 col-lg-6 mt-2">
                                    <label for="">Gabinete</label>
                                    <input type="text" class='form-control'>
                                </div>
                                <div class="form-group col-12 col-lg-6 mt-2">
                                    <label for="">Monitor</label>
                                    <input type="text" class='form-control'>
                                </div>
                                <div class="col-12 mt-3 d-flex justify-content-end">
                                    <button class="btn btn-success">Adicionar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock corpo %}