{% extends 'base.html' %}
{% load static %}

{% block title %}
    Novo Computador
{% endblock title %}

{% block scripts %}
<script>
    var computador_form_url_ajax = '{% url "computador_add_ajax" %}';
    var ip_form_url_ajax = '{% url "verificar_ip_ajax" %}';

</script>

{% endblock scripts %}

{% block corpo %}
<style>
    body {
        background-color:rgb(235, 232, 232);
    }
    #primeiro {
        margin-top: 150px;
        font-family: 'Times New Roman', Times, serif;
    }
    {% for campo in field_erros %}
    [name={{campo}}] {
        border-color:red;
    }
    {% endfor %}
    .icon-a {
        color:green;
    }
    .icon-b {
        color:rgb(0, 67, 168);
    }
    /* Responsive */
    @media (min-width: 992px) {
        #primeiro {
            margin-top: 100px;
        }
    }
    @media (min-width: 1200px) {
        #primeiro {
            margin-top: 100px;
        }
    }
</style>

<main>
    <div class="container" id='primeiro'>
        <div class="container-fluid" >
            {% if mensagens %}
            <div class="alert alert-danger" role='alert'>
                {% for value in mensagens %}
                    {{ value }}
                {% endfor %}
            </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class='mt-2'>
                            <h5 class='text-muted'>Informações Básicas</h5>
                            <hr>
                        </div>
                        
                        <div class="col-12 col-lg-4 mt-2 mt-lg-0">
                            <label class='form-label' for="id_predio">Nome Rede *</label><br>
                            {{ form.nome_rede }}
                        </div>
                        <div class="col-12 col-lg-4 mt-2 mt-lg-0">
                            <label class='form-label' for="id_predio">OS *</label><br>
                            {{ form.sistema_op }}
                        </div>
                    </div>
                    <div class="row">
                        <div class='mt-4'>
                            <h5 class='text-muted'>Departamento & Funcionário</h5>
                            <hr>
                        </div>
                        
                        <div class="col-12 col-lg-4 mt-2 mt-lg-0">
                            <label class='form-label' for="id_predio">Departamento</label><br>
                            {{ form.departamento }}
                            
                        </div>
                        <div class="col-12 col-lg-4 mt-2 mt-lg-0">
                            <div class="d-flex justify-content-between">
                                <label class='form-label' for="id_predio">Funcionário</label>
                                <div class="pe-2">
                                    <a class='me-2' href="{% url 'funcionario_add' %}" target='_blank'>
                                        <i class="fa fa-plus fa-xs icon-a" aria-hidden="true"></i></a> 
                                    <i id='refresh-funcionario' class="fa fa-refresh fa-xs icon-b" aria-hidden="true"></i>
                                </div>
                            </div>
                            {{ form.funcionario }}
                        </div>
                        <div class="col-12 col-lg-4">
                            <label class='form-label' for="id_predio">Sala</label><br>
                            {{ form.sala }}
                        </div>
                    </div>
                    <div class="row">
                        <div class='mt-4'>
                            <h5 class='text-muted'>Componentes</h5>
                            <hr>
                        </div>
                        
                        <div class="col-12 col-lg-4 mt-2">
                            <div class="d-flex justify-content-between">
                                <label class='form-label' for="id_predio">Teclado</label>
                                <div class="pe-2">
                                    <a class='me-2' href="{% url 'funcionario_add' %}" target='_blank'>
                                    <i class="fa fa-plus fa-xs icon-a" aria-hidden="true"></i></a> 
                                    <i id='refresh-teclado' class="fa fa-refresh fa-xs icon-b" aria-hidden="true"></i>
                                </div>
                            </div>
                            {{ form.teclado }}
                        </div>
                        <div class="col-12 col-lg-4 mt-2">
                            <div class="d-flex justify-content-between">
                                <label class='form-label' for="id_predio">Mouse</label>
                                <div class="pe-2">
                                    <a class='me-2' href="{% url 'funcionario_add' %}" target='_blank'>
                                        <i class="fa fa-plus fa-xs icon-a" aria-hidden="true"></i></a> 
                                        
                                        <i id='refresh-mouse' class="fa fa-refresh fa-xs icon-b" aria-hidden="true"></i>
                                </div>
                            </div>
                            {{ form.mouse }}
                        </div>

                        <div class="col-12 col-lg-4 mt-2">
                            <div class="d-flex justify-content-between">
                                <label class='form-label' for="id_predio">Gabinete *</label>
                                <div class="pe-2">
                                    <a class='me-2' href="{% url 'funcionario_add' %}" target='_blank'>
                                        <i class="fa fa-plus fa-xs icon-a" aria-hidden="true"></i></a> 
                                        
                                        <i id='refresh-gabinete' class="fa fa-refresh fa-xs icon-b" aria-hidden="true"></i>
                                </div>
                            </div>
                            {{ form.gabinete }}
                        </div>
                        <div class="col-12 col-lg-4 mt-2">
                            <div class="d-flex justify-content-between">
                                <label class='form-label' for="id_predio">Placa Mãe</label>
                                <div class="pe-2">
                                    <a class='me-2' href="{% url 'funcionario_add' %}" target='_blank'>
                                        <i class="fa fa-plus fa-xs icon-a" aria-hidden="true"></i></a> 
                                        
                                        <i id='refresh-placamae' class="fa fa-refresh fa-xs icon-b" aria-hidden="true"></i>
                                </div>
                            </div>
                            {{ form.placa_mae }}
                        </div>
                        <div class="col-12 col-lg-4 mt-2">
                            <div class="d-flex justify-content-between">
                                <label class='form-label' for="id_predio">Processadores</label>
                                <div class="pe-2">
                                    <a class='me-2' href="{% url 'funcionario_add' %}" target='_blank'>
                                        <i class="fa fa-plus fa-xs icon-a" aria-hidden="true"></i></a> 
                                        
                                        <i id='refresh-processador' class="fa fa-refresh fa-xs icon-b" aria-hidden="true"></i>
                                </div>
                            </div>
                            {{ form.processador }}
                        </div>
                        <div class="col-12 col-lg-4 mt-2">
                            <div class="d-flex justify-content-between">
                                <label class='form-label' for="id_predio">HD</label>
                                <div class="pe-2">
                                    <a class='me-2' href="{% url 'funcionario_add' %}" target='_blank'>
                                        <i class="fa fa-plus fa-xs icon-a" aria-hidden="true"></i></a> 
                                        
                                        <i id='refresh-hd' class="fa fa-refresh fa-xs icon-b" aria-hidden="true"></i>
                                </div>
                            </div>
                            {{ form.hd }}
                        </div>
                        <div class="col-12 mt-2">
                            <div class="d-flex justify-content-between">
                                <label class='form-label' for="id_predio">Monitor</label>
                                <div class="pe-2">
                                    <a class='me-2' href="{% url 'funcionario_add' %}" target='_blank'>
                                        <i class="fa fa-plus fa-xs icon-a" aria-hidden="true"></i></a> 

                                    <i id='refresh-monitor' class="fa fa-refresh fa-xs icon-b" aria-hidden="true"></i>
                                </div>
                            </div>
                            {{ form.monitor }}
                        </div>
                    </div>
                    <div class="row">
                        <div class='mt-4'>
                            <h5 class='text-muted'>Endereco IP e MAC</h5>
                            <hr>
                        </div>
                        
                        <div class="col-12 col-lg-4 mt-2">
                            <div class="d-flex justify-content-between">
                                <label class='form-label' for="id_predio">Enderço IP</label>
                            </div>
                            {{ form.endereco_ip }}
                            <span id="enderecoiphelp" class="form-text text-danger"></span>
                        </div>
                        <div class="col-12 col-lg-4 mt-2">
                            <div class="d-flex justify-content-between">
                                <label class='form-label' for="id_predio">Enderço MAC</label>
                            </div>
                            {{ form.endereco_mac }}
                        </div>
                        <div class="col-12 col-lg-4 mt-2">
                            <div class="d-flex justify-content-between">
                                <label class='form-label' for="id_predio">AnyDesk</label>
                            </div>
                            {{ form.anydesk }}
                        </div>
                    </div>
                    <div class="row">
                        <div class='mt-4'>
                            <h5 class='text-muted'>Informações Complementares</h5>
                            <hr>
                        </div>
                        
                        <div class="col-12 mt-2">
                            {{ form.descricao }}
                        </div>
                    </div>
                <div class="d-flex justify-content-end mt-3 mb-3">
                    <button id='btnenviar' class="btn btn-primary">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock corpo %}