{% extends 'base.html' %}
{% load static %}

{% block title %}
    Computador
{% endblock title %}

{% block scripts %}
    <script>
        const forms_urls = {
            'pesquisarImpressora': '{% url "impressora_pesquisa_ajax" %}',
            'vincularNovaImpressora': '{% url "vincular_impressora_ajax" %}',
            'm4070Img': '{% static "img/m4070.jpg" %}',
            'id_computador': '{{computador.id}}',
            'atualizar_computador_info_ajax': '{% url "atualizar_computador_info_ajax" %}'
        }
        const formularioId = '{{ csrf_token }}';
    </script>
{% endblock scripts %}

{% block corpo %}

<style>
    body {
        background-color:rgb(235, 232, 232);
        border-style:none;
    }
    img {
        width: 100px;
    }
    li a {
        text-decoration: none;
        color:#6c757d!important;
    }
    p a {
        text-decoration: none;
        color:black;
    }
    .img-centro {
        background-image: url('{% static "img/teste.jpg" %}');
        background-position-y: 0;
    }
</style>
<main>
    <div class="container p-3" id="primeiro">
        <div class="img-centro row p-3 bg-dark rounded">
            <div class="col-12 col-lg-3 text-center p-3">
                <img class='rounded-circle' src="{% static 'img/patrimonio.png' %}" alt="">
            </div>
            <div class="col-12 col-lg-8">
                <span class='d-flex justify-content-between'>
                    <h2 class='text-dark'>{{computador.nome_rede}}</h2>
                    <a href='{% url "computador_edit" computador.id %}' style='text-decoration:none; color:black;'><i class="fas fa-edit text-success me-2"></i></a>
                    
                </span>
                <p class='text-dark mb-1'> 
                    <i class="fas fa-user"></i>
                    {% if computador.funcionario %}
                    <a href="{% url 'funcionario_visualizar' computador.funcionario.id %}">{{computador.funcionario}}</a>
                    {% else %}
                    Não Vinculado
                    {% endif %}
                </p>
                <p class='text-dark mb-1'>
                    <i class="fas fa-building"></i>
                    {% if computador.departamento %}
                    <a href="{% url 'departamento_visualizar' computador.departamento.id %}">{{computador.departamento}}</a>
                    {% else %}
                    Não Vinculado
                    {% endif %}
                </p>
                <p class='text-dark'>
                    <i class="fas fa-hat-wizard"></i>
                    <a href="anydesk:{{computador.anydesk}}">Anydesk</a>
                </p>
            </div>
        </div>
        <div class="col-12 bg-dark text-light d-flex justify-content-center">
            <nav class="navbar navbar-expand">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'computador_visualizar' computador.id 'principal' %}">Home <span class="sr-only">(Página atual)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'computador_visualizar' computador.id 'rede' %}">Rede</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Processador</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Placa Mãe</a>
                      </li>
                  </ul>
                </div>
            </nav>
        </div>
        <div class="col-12 bg-dark text-light p-2">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card bg-dark border-0">
                        <div class="card-content">
                            <div class="card-header border-0">
                                <h5 class="card-title text-center text-muted">Funcionário & Departamento</h5>
                                
                            </div>
                            <div class="card-body bg-dark">
                                <ul class="list-group">
                                    <li class="list-group-item bg-dark text-light">
                                        <div class="col d-flex">
                                            <img style='width:50px; height:50px;' class='rounded-circle me-4' src="{% static 'img/funcionario.jpg' %}" alt="">
                                            <span>
                                                {% if computador.funcionario %}
                                                <a href="{% url 'funcionario_visualizar' computador.funcionario.id %}">
                                                    <p class='mb-0 text-muted'>{{computador.funcionario.nome}} {{computador.funcionario.sobrenome}}</p>
                                                </a>
                                                <p class='text-muted'>{{computador.departamento.departamento}}</p>
                                                {% else %}
                                                <p class='mb-0 text-muted'>Não Vinculado</p>
                                                <p class="text-muted"></p>
                                                {% endif %}
                                            </span>
                                        </div>
                                    </li>
                                    <li class="list-group-item bg-dark text-light">
                                        <div class="col d-flex">
                                            <img style='width:50px; height:50px;' class='rounded-circle me-4' src="{% static 'img/patrimonio.png' %}" alt="">
                                            <span>
                                                {% if computador.departamento %}
                                                <p class='mb-0 text-muted'>{{computador.departamento.departamento}}</p>
                                                <p class='text-muted'>{{computador.departamento.predio}}</p>
                                                {% else %}
                                                <p class="mb-0 text-muted">
                                                    Não Vinculado
                                                </p>
                                                <p class="text-muted">Pasárgada</p>
                                                {% endif %}
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    {% block informacoes %}
                    <div class="card bg-dark border-0">
                        <div class="card-content">
                            <div class="card-header bg-dark border-0 d-flex justify-content-between">
                                <h5 class='text-muted'>Informações</h5>
                                <span>
                                    <i data-bs-toggle='modal' data-bs-target='#modalAtualizarInformacao' class="fas fa-edit text-success me-2"></i>
                                    <i class="far fa-trash-alt text-danger"></i>
                                </span>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <ul class="list-group">
                                            <li class="list-group-item border-0 bg-dark mb-0 text-light text-muted">
                                                <b>Nome na Rede:</b> {{computador.nome_rede}}
                                            </li>
                                            
                                            <li class="list-group-item border-0 bg-dark mb-0 text-light text-muted">
                                                <b>Sistema Operacional:</b> {{computador.sistema_op}}
                                            </li>
                                            
                                            <li class="list-group-item border-0 bg-dark mb-0 text-light text-muted">
                                                <b>Memória RAM:</b>
                                                {% if computador.memoria_ram %}
                                                {{computador.memoria_ram}}
                                                {% else %}
                                                Indisponivel
                                                {% endif %}
                                            </li>
                                            <li class="list-group-item border-0 bg-dark mb-0 text-light text-muted">
                                                <b>HD:</b>
                                                {% if computador.hd %}
                                                {{computador.hd.tamanho_gb}}
                                                {% else %}
                                                Indisponivel
                                                {% endif %}
                                            </li>
                                            
                                            {% for monitor in computador.monitor.all %}
                                            <li class="list-group-item border-0 bg-dark mb-0 text-light text-muted">
                                                <b>Monitor Patrimônio</b>
                                                {{ monitor.patrimonio }}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <ul class="list-group">
                                            <li class="list-group-item border-0 bg-dark mb-0 text-light text-muted">
                                                <b>AnyDesk:</b>
                                                {% if computador.anydesk %}
                                                {{computador.anydesk}}
                                                {% else %}
                                                Indisponivel
                                                {% endif %}
                                            </li>
                                            <li class="list-group-item border-0 bg-dark mb-0 text-light text-muted">
                                                <b>Processador</b>
                                                {% if computador.processador %}
                                                {{computador.processador.modelo}}
                                                {% if computador.processador.frequencia %}
                                                    {{computador.processador.frequencia }} Ghz
                                                {% endif %}
                                                {% else %}
                                                Indisponivel
                                                {% endif %}
                                            </li>
                                            <li class="list-group-item border-0 bg-dark mb-0 text-light text-muted">
                                                <b>Placa Mãe:</b>
                                                {% if computador.placa_mae %}
                                                {{computador.placa_mae.marca}} - {{computador.placa_mae.modelo }}
                                                {% else %}
                                                Indisponivel
                                                {% endif %}
                                            </li>
                                            <li class="list-group-item border-0 bg-dark mb-0 text-light text-muted">
                                                <b>Gabinete Patrimônio</b>
                                                {% if computador.gabinete.patrimonio %}
                                                {{ computador.gabinete.patrimonio }}
                                                {% else %}
                                                Indisponível
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                 
                            </div>
                        </div>
                    </div>
                    {% endblock informacoes %}
                    {% block impressora %}
                    <div class="card bg-dark border-0 mb-3">
                        <div class="card-content">
                            <div class="card-header bg-dark d-flex justify-content-between">
                                <h5> </h5>
                                <span>
                                    <i data-bs-toggle='modal' data-bs-target='#modalAtualizarDescricao' class="fas fa-edit text-success me-2"></i>
                                </span>
                            </div>
                            <div class="card-body text-muted">
                                {% if computador.descricao %}
                                {{computador.descricao}}
                                {% else %}
                                Caso deseje descrever com mais detalhes esse computador, você poderá usar este campo.
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endblock impressora %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id='modalAdicionarImpressora'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar Impressora</h5>
                    <span data-bs-dismiss='modal'>
                        <i class="fas fa-times"></i>
                    </span>
                </div>
                <div style='max-height:50vh;' class="modal-body overflow-auto">
                    <form id='pesquisa'>
                        <div class="input-group">
                            <input type="search" name='query' class="form-control rounded" placeholder="Pesquisar" aria-label="Search"
                            aria-describedby="search-addon" autocomplete="off"/>
                            <button class="btn btn-outline-primary">Procurar</button>
                          </div>
                    </form>
                    <div class="mt-4">
                        <table class="table table-sm table">
                            <tbody id='tabelaImpressora'>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" tabindex="-1" id='modalAtualizarDescricao'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Atualizar Descrição</h5>
                    <span data-bs-dismiss='modal'>
                        <i class="fas fa-times"></i>
                    </span>
                </div>
                <div class="modal-body">
                    <form id='form-descricao'>
                        {% csrf_token %}
                        <div class="form-group">
                            <p>
                                <label for="id_descricao" class='mt-1'>Descrição</label>
                                <textarea class='form-control' name="descricao" id="id_descricao" cols="25" rows="10">{{computador.descricao}}</textarea>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss='modal'>Cancelar</button>
                    <button onclick='mandarconteudo("descricao")' class="btn btn-primary">Atualizar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id='modalAtualizarInformacao'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Atualizar Informações</h5>
                    <span data-bs-dismiss='modal'>
                        <i class="fas fa-times"></i>
                    </span>
                </div>
                <div class="modal-body">
                    <form computador_id='{{computador.id}}' id='form-informacao'>
                        {% csrf_token %}
                        <input type='hidden' value='{{computador.id}}' name='computador_id'>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="id_nome_rede">Nome Rede</label>
                                    <input type="text" name='nome_rede' id='id_nome_rede' value='{{computador.nome_rede}}' class='form-control'>
                                </div>
                                <div class="form-group mt-2">
                                    <label for="id_memoria_ram">Memória RAM</label>
                                    <input type="text" class='form-control' id='id_memoria_ram' name='memoria_ram' value='{{computador.memoria_ram}}'>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="id_sistema_op">Sistema Operacional</label>
                                    <select class='form-control' name="sistema_op" id="id_sistema_op">
                                        <option value="{{computador.sistema_op}}">{{computador.sistema_op}}</option>
                                    </select>
                                </div>
                                <div class="form-group mt-2">
                                    <label for="id_anydesk">AnyDesk</label>
                                    <input type="text" class='form-control' id='id_anydesk' name='anydesk' value='{{computador.anydesk}}'>
                                </div>
                                
                            </div>
                            <div class="col-12 mt-2">
                                <!-- <div class="form-group">
                                    <label for="id_processador">Processador</label>
                                    <select class='form-control' name="processador" id="id_processador">
                                        <option value="{{computador.processador.id}}">{{computador.processador}}</option>
                                    </select>
                                </div> -->
                                <div class="form-group mt-2">
                                    <label for="id_hd">HD</label>
                                    <select class='form-control' name="hd" id="id_jd">
                                        <option value="{{computador.hd.id}}">{{computador.hd}}</option>
                                    </select>
                                </div>
                                <!-- <div class="form-group mt-2">
                                    <label for="id_placa_mae">Placa Mãe</label>
                                    <select class='form-control' name="placa_mae" id="id_placa_mae">
                                        <option value="{{computador.placa_mae.id}}">{{computador.placa_mae}}</option>
                                    </select>
                                </div> -->
                                <div class="form-group mt-2">
                                    <label for="id_gabinete">Gabinete</label>
                                    <select class='form-control' name="gabinete" id="id_gabinete">
                                        <option value="{{computador.gabinete.id}}">{{computador.gabinete}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss='modal'>Cancelar</button>
                    <button onclick='mandarconteudo("informacao", forms_urls.atualizar_computador_info_ajax )' class="btn btn-primary">Atualizar</button>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}