{% extends 'computador/visualizar.html' %}
{% load static %}

{% block informacoes %}
<div class="card bg-dark border-0">
    <div class="card-content">
        <div class="card-header bg-dark border-0 d-flex justify-content-between">
            <h5 class='text-muted'>Informações Rede</h5>
            <span>
                <i data-bs-toggle='modal' data-bs-target='#modalAtualizarIpMac' class="fas fa-edit text-success me-2"></i>
            </span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <ul class="list-group">
                        <li class="list-group-item border-0 bg-dark mb-0 text-light text-muted">
                            <b>Endereço IP:</b> 
                            {% if computador.ip_computador.count %}
                            {{computador.ip_computador.first.ip_address }}
                            {% else %}
                            Indisponível
                            {% endif %}
                        </li>
                        <li class="list-group-item border-0 bg-dark mb-0 text-light text-muted">
                            <b>Endereço MAC:</b>
                            {% if computador.mac_computador.count %}
                            {{computador.mac_computador.first.mac_address}}
                            {% else %}
                            Indisponível
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock informacoes %}

{% block impressora %}
<div class="col-12 mt-1 mb-3">
    <div class="card bg-dark border-0">
        <div class="card-content">
            <div class="card-header bg-dark d-flex justify-content-between">
                <h5 class="card-title text-muted">Impressoras</h5>
                <span data-bs-toggle='modal' data-bs-target='#modalAdicionarImpressora'>
                    <i class="fas fa-plus text-success me-2"></i>
                </span>
            </div>
            <div style='max-height:20vh; min-height: 20vh;' class="card-body text-light text-center text-muted overflow-auto">
                {% if computador.impressora.count %}
                <table class="table table-sm table bg-dark text-light text-muted text-center table-borderless">
                    <!-- <thead>
                        <th>Nome</th>
                        <th>Impressora</th>
                        <th>IP</th>
                        <th>Remover</th>
                    </thead> -->
                    <tbody>
                        {% for impressora in computador.impressora.all %}
                        <tr>
                            <td>{{impressora.nome}}</td>
                            <td>{{impressora.modelo}}</td>
                            <td>
                                {% for ip in impressora.ip_impressora.all %}
                                {{ip}}
                                {% endfor %}
                            </td>
                            <td>
                                <i onclick='VincularNovaImpressora("{{impressora.id}}", true)' class="fas fa-trash-alt"></i>
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class='text-center text-muted pt-2 pb-2'>Não Disponível</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock impressora %}

{% block modals %}
<div class="modal fade" tabindex="-1" id='modalAdicionarImpressora'>
    <div class="modal-dialog modal-lg">
        <div style='font-family: Arial, Helvetica, sans-serif;' class="modal-content">
            <div class="modal-header" style='background-color:#02aed8;'>
                <h5 class="modal-title text-light">Vincular Impressora</h5>
                <span data-bs-dismiss='modal'>
                    <i class="fas fa-times text-light"></i>
                </span>
            </div>
            <div style='max-height:50vh;' class="modal-body overflow-auto">
                <form id='pesquisa'>
                    <div class="input-group">
                        <input type="search" name='query' class="form-control rounded" placeholder="Pesquisar" aria-label="Search"
                        aria-describedby="search-addon" autocomplete="off"/>
                        <button class="btn btn-outline-primary">Procurar</button>
                      </div>
                </form>
                <div class="mt-4 p-2">
                    <table class="table table-sm table">
                        <tbody id='tabelaImpressora'>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id='modalAtualizarIpMac'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 style='font-family: Arial, Helvetica, sans-serif;' class="card-title text-light">
                    <i class="fas fa-pen pe-2"></i>
                    Alterar IP/MAC
                </h5>
                <span data-bs-dismiss="modal">
                    <i class="fas fa-times text-light"></i>
                </span>
            </div>
            <div class="modal-body">
                <form id='form-ipMac'>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_ip_address" class='mb-1'>Endereço IP</label>
                        {{ formIpMac.ip_address }}
                        <small hidden id='enderecoiphelp' style='font-family: Arial, Helvetica, sans-serif;' class='form-text text-danger'>** Digite um endereço IP válido!</small>
                    </div>
                    <div class="form-group mt-2">
                        <label for="id_endereco_mac" class='mb-1'>Endereço MAC</label>
                        {{ formIpMac.endereco_mac }}
                        <small hidden id='enderecomachelp' style='font-family: Arial, Helvetica, sans-serif;' class='form-text text-danger'>** Digite um endereço MAC válido!</small>
                    </div>
                    <div hidden>
                        {{formIpMac.object_id}}
                        {{formIpMac.parent_object_id}}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" style='font-family: Arial, Helvetica, sans-serif; color:black;' data-bs-dismiss='modal'>Cancelar</button>
                <button style='font-family: Arial, Helvetica, sans-serif; color:white;' onclick='mandarconteudo("ipMac", forms_urls.verificar_enderecoip_ajax)' class="btn btn-primary">Atualizar</button>
            </div>
        </div>
    </div>
</div>
{% endblock modals %}