{% extends 'base_listagem.html' %}

{% block scripts %}
<script>
    forms_urls = {
        'departamento': '{% url "departamento_ajax_add" %}',
    }
</script>
{% endblock scripts %}


{% block button_adicionar %}
<button class="btn btn-success" data-bs-toggle='modal' data-bs-target='#modalDepartamento'>
    Adicionar
</button>
{% endblock button_adicionar %}

{% block tabela %}
<div class="card-body bg-light ">
    {% if departamentos %}
    <table class="table table-sm table table-striped text-center">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">Departamento</th>
            <th scope="col">Sigla</th>
            <th scope="col">Prédio</th>
            <th scope='col'>Visualizar</th>
        </thead>
        <tbody>
            {% for departamento in departamentos %}
            <tr>
                <th scope="row">{{ departamento.id }}</th>
                <td>{{ departamento.departamento }}</td>
                <td>{{ departamento.sigla_departamento }}</td>
                <td>{{ departamento.predio }}</td>
                <td><a href="{% url 'departamento_visualizar' departamento.id %}"><i class="fas fa-eye"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class='text-center'>
        <p>Nada Encontrado</p>
    </div>
    {% endif %}
</div>

<div class="modal fade" tabindex="-1" id='modalDepartamento'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">
                    <h5 class='text-muted'>Adicionar Novo Departamento</h5>
                </span>
            </div>
            <div class="modal-body">
                <form id='form-departamento' method="POST">
                    {% csrf_token %}
                    {{ form.as_p}}
                </form>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss='modal'>Cancelar</button>
                    <button class="btn btn-success" onclick="FormularioDepartamento()">Adicionar</button>
                </div>
            </div>
        </div>        
    </div>

</div>

{% endblock tabela %}

{% block nav_paginacao %}
{% if departamentos.has_previous %}
    <li class="page-item"><a class="page-link" href="{% url 'departamento' departamentos.previous_page_number %}{% if pesquisa %}?query={{ pesquisa }}{% endif %}">Voltar</a></li>
    {% endif %}
    {% if departamento.has_other_pages %}
    <li class="page-item active"><a class="page-link"  href="#">{{ departamento.number }}</a></li>
    {% endif %}
    {% if departamentos.has_next %}
    <li class="page-item"><a class="page-link" href="{% url 'departamento' departamentos.next_page_number %}{% if pesquisa %}?query={{ pesquisa }}{% endif %}">Next</a></li>
    {% endif %}
{% endblock nav_paginacao %}