{% extends 'base_listagem.html' %}
{% load static %}

{% block scripts %}
<script>
    forms_urls = {
        'departamento': '{% url "departamento_ajax_add" %}',
        'editar_departamento': '{% url "departamento_ajax_edit" %}',
        'apagarDepartamento': '{% url "departamento_ajax_deletar" %}',
        'departamento_view_ajax': '{% url "departamento_view_ajax" %}',
    }
    </script>
</script>
{% endblock scripts %}


{% block button_adicionar %}
<button class="btn btn-success fonte-arial" data-bs-toggle='modal' data-bs-target='#modalDepartamento'>
    Adicionar
</button>
{% endblock button_adicionar %}

{% block tabela %}

{% if departamentos %}
{% for departamento in departamentos %}
<div class="row p-1 ps-lg-3 m-0 mt-2 shadow d-flex justify-content-between rounded item-pai" style="font-family: Arial, Helvetica, sans-serif;">
    <div class="col-auto p-0 d-flex align-items-center d-flex justify-content-center ">

        <img class='rounded-circle' style='width:7vh;' src="{% static 'img/patrimonio.png' %}" alt="">
        
    </div>
    <div class="col-10 mt-0 item-filho hidden ms-4 ms-lg-4 p-lg-2">
        <div class="row m-0 p-0">
            <div class="col-12 col-lg-4 mb-lg-2">
                <ul class='list-group'>
                    <li class="list-group-item mt-0 p-0">
                        <b>Nome:</b> {{departamento.departamento}}
                    </li>
                    <li class="list-group-item mt-1 p-0">
                        <b>Prédio:</b>{% if departamento.predio %} {{departamento.predio}}{% else %} Indisponível {% endif %}
                    </li>
                    <li class="list-group-item mt-1 p-0">
                        <b>Sigla:</b>{% if departamento.sigla_departamento %} {{departamento.sigla_departamento}}{% else %} Indisponível {% endif %}
                    </li>
                    <li class="list-group-item mt-1 p-0">
                        <b>Funcionarios:</b> {{departamento.funcionario.count}}
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <ul class='list-group'>
                    <li class="list-group-item mt-1 p-0">
                        <b>Impressoras:</b> {{departamento.impressora.count}}
                    </li>
                    <li class="list-group-item mt-1  p-0">
                        <b>Roteadores:</b> {{departamento.roteador.count}}
                    </li>
                    
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <ul class='list-group'>
                    <li class="list-group-item mt-1  p-0">
                        <b>Descricao:</b>
                        {% if departamento.descricao %}
                        {{departamento.descricao}}
                        {% else %}
                        Não possuo nenhuma informação ;c
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col p-0 m-0 ps-3 d-flex justify-content-between">
        <div class='item-esconder'>
            <p class='mb-0 mt-2 '><b>{{departamento.departamento}} </b></p>
            <span class='d-flex d-flex flex-column flex-lg-row mt-1'>
                <p class='mb-1 mt-0'>Prédio: {{departamento.predio}}</p>
            </span>
        </div>
        <span class='d-flex flex-column d-flex flex-lg-row d-flex align-items-center p-lg-2 d-flex d-flex justify-content-center'>
            <i class="fas fa-trash-alt text-black pe-1  pe-lg-3 mb-2 mb-lg-0" onclick='ShowModalDeletarDepartamento(`{% url "departamento_remover" departamento.id %}`)'></i>
            <i class="fas fa-edit text-black" onclick="ShowModalEditDepartamento(`{% url 'departamento_ajax_edit' %}`, '{{departamento.id}}')"></i>
        </span>
    </div>
</div>
{% endfor %}
{% else %}
<div class="row">
    <div class="col-12 shadow p-3">
        <h5 class='fonte-arial text-center'>Nada encontrado</h5>
    </div>
</div>
{% endif %}
{% endblock tabela %}

{% block modals %}
<div class="modal fade" tabindex="-1" id='modalDepartamento'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <span class="modal-title">
                    <h5 class='text-light'><i class="far fa-building pe-3"></i>Adicionar Novo Departamento</h5>
                </span>
                <span data-bs-dismiss='modal'>
                    <i class="fas fa-times text-light"></i>
                </span>
            </div>
            <div class="modal-body">
                <form id='form-departamento' method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
                <div class="modal-footer">
                    <button class="btn btn-outline-secondary" style='font-family: Arial, Helvetica, sans-serif; color:black;' data-bs-dismiss='modal'>Cancelar</button>
                    <button style='font-family: Arial, Helvetica, sans-serif; color:white;' class="btn btn-success" onclick="FormularioDepartamento()">Adicionar</button>
                </div>
            </div>
        </div>        
    </div>
</div>

<div class="modal fade" tabindex="-1" id='modalEditDepartamento'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title text-light">
                    <i class="fas fa-pen pe-2"></i>
                    Editar Departamento
                </h5>
                <span data-bs-dismiss='modal'>
                    <i class="fas fa-times text-light"></i>
                </span>
            </div>
            <div class="modal-body">
                <form method='POST' id='form-departamento'>
                    {% csrf_token %}
                    <input type="hidden" id='id_id' name='id' value='0'>
                    <div class="form-group">
                        <label for="id_predio" class='text-black'>Prédio *:</label>
                        {{form.predio}}
                    </div>
                    <div class="form-group mt-2">
                        <label for="id_departamento">Departamento *:</label>
                        {{form.departamento}}
                    </div>
                    <div class="form-group mt-2">
                        <label for="id_singla_departamento">Sigla Departamento</label>
                        {{form.singla_departamento}}
                    </div>
                    <div class="form-group mt-2">
                        <label for="id_descricao">Complemento</label>
                        {{form.descricao}}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" style='font-family: Arial, Helvetica, sans-serif; color:black;' data-bs-dismiss='modal'>Cancelar</button>
                <button id='btnEditar' class="btn bg-success fonte-arial text-light" onclick='EditarItem("departamento")'>Editar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id='modalDeletar'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-danger text-light" style="font-family: Arial, Helvetica, sans-serif;">
                <h5>
                    <i class="fas fa-trash-alt"></i>
                    Deseja apagar esse departamento?
                </h5>
                <span data-bs-dismiss='modal'>
                    <i class="fas fa-times text-light"></i>
                </span>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    Caso você remova esse Departamento, não será possivel adicionar ou remover elementos. Além disso, toda e qualquer informação vinculada a esse departamento será perdida.
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" style='font-family: Arial, Helvetica, sans-serif; color:black;' data-bs-dismiss='modal'>Cancelar</button>
                <a id='link-rm' href="{% url 'departamento_remover' 1%}" class="btn" style='font-family: Arial, Helvetica, sans-serif; background-color:rgb(238, 37, 37); color:white;'>Apagar</a>
            </div>
        </div>
    </div>
</div>

{% endblock modals %}

{% block nav_paginacao %}
    {% if departamentos.has_previous %}
    <li class="page-item text-dark fonte-arial text-decoration-none"><a class="page-link" href="{% url 'departamento' departamentos.previous_page_number %}{% if pesquisa %}?query={{ pesquisa }}{% endif %}">Voltar</a></li>
    {% endif %}
    {% if departamentos.has_other_pages %}
    <li class="page-item active text-dark fonte-arial text-decoration-none"><a class="page-link"  href="#">{{ departamentos.number }}</a></li>
    {% endif %}
    {% if departamentos.has_next %}
    <li class="page-item text-dark fonte-arial text-decoration-none"><a class="page-link" href="{% url 'departamento' departamentos.next_page_number %}{% if pesquisa %}?query={{ pesquisa }}{% endif %}">Next</a></li>
    {% endif %}
{% endblock nav_paginacao %}