{% extends 'base.html' %}


{% block title %}
    Editar Impressora
{% endblock title %}

{% block scripts %}
<script>
    $(window).ready(function(){

        $('#id_endereco_ip').val('{{ form_ip.first|default_if_none:"" }}');
        $('#id_endereco_mac').val('{{ form_mac.first|default_if_none:"" }}');
    });
    var validador=false;

    $(document).ready(function(){
        if('{{form.patrimonio.value}}'.length >= 2){
            $('#gestpar-select').val('Não');
            gestparselect('Não');
        }else
        {
            gestparselect('Sim');
        }
    });
    function gestparselect(valor){
        if(valor == 'Sim'){
            $("#id_patrimonio").attr('disabled', 'readpmçy')
            $("#id_gestpar_matricula").removeAttr('disabled');
            $('#id_patrimonio').val('')
        }else{
            $('#id_patrimonio').removeAttr('disabled');
            $('#id_gestpar_matricula').attr('disabled', 'readonly');
            $('#id_gestpar_matricula').val('')
        }
    }
</script>
{% endblock scripts %}

{% block corpo %}
<style>
    body {
        background-color:rgb(235, 232, 232);
    }
    #primeiro {
        margin-top: 150px;
        font-family: 'Times New Roman', Times, serif;
    }
    {% for campo in field_erros %}
    [name={{campo}}] {
        border-color:red;
    }
    {% endfor %}
    .icon-a {
        color:green;
    }
    .icon-b {
        color:rgb(0, 67, 168);
    }
    /* Responsive */
    @media (min-width: 992px) {
        #primeiro {
            margin-top: 100px;
        }
    }
    @media (min-width: 1200px) {
        #primeiro {
            margin-top: 100px;
        }
    }
</style>

<main>
    <div class="container" id='primeiro'>
        <div class="container-fluid" >
            {% if mensagens %}
            <div class="alert alert-danger" role='alert'>
                {% for value in mensagens %}
                    {{ value }}
                {% endfor %}
            </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class='mt-2'>
                            <h5 class='text-muted'>Informações Básicas</h5>
                            <hr>
                        </div>
                        
                        <div class="col-12 col-lg-4 mt-2 mt-lg-0">
                            <label class='form-label' for="id_predio">Nome</label><br>
                            {{ form.nome }}
                        </div>
                        <div class="col-12 col-lg-4 mt-2 mt-lg-0">
                            <label class='form-label' for="id_predio">Modelo</label><br>
                            {{ form.modelo }}
                        </div>
                        <div class="col-12 col-lg-4 mt-2 mt-lg-0">
                            <label class='form-label' for="id_predio">Tipo Toner</label><br>
                            {{ form.tipo_toner }}
                        </div>
                    </div>

                    <div class="row">
                        <div class='mt-4'>
                            <h5 class='text-muted'>Patrimônio e Locação</h5>
                            <hr>
                        </div>
                        <div class="col-12 col-lg-4 mt-2  mt-lg-0">
                            <label class='form-label' for="id_predio">Pertence a Gestpar?</label><br>
                            <select onchange="gestparselect(this.value)" class='form-select' name="gestpar" id="gestpar-select">
                                <option value="Sim">Sim</option>
                                <option value="Não">Não</option>
                            </select>
                        </div>
                        <div id='matricula-gestpar' class="col-12 col-lg-4 mt-2 mt-lg-0">
                            <label class='form-label' for="id_predio">Gestpar Matricula</label><br>
                            {{ form.gestpar_matricula }}
                        </div>
                        <div id='patrimonio' class="col-12 col-lg-4 mt-2 mt-lg-0">
                            <label class='form-label' for="id_predio">Número Patrimônio</label><br>
                            {{ form.patrimonio }}
                        </div>
                    </div>
                    <div class="row">
                        <div class='mt-4'>
                            <h5 class='text-muted'>Local</h5>
                            <hr>
                        </div>

                        <div id='matricula-gestpar' class="col-12 col-lg-6 mt-2 mt-lg-0">
                            <label class='form-label' for="id_predio">Departamento</label><br>
                            {{ form.departamento }}
                        </div>
                        <div id='patrimonio' class="col-12 col-lg-6 mt-2 mt-lg-0">
                            <label class='form-label' for="id_predio">Sala</label><br>
                            {{ form.sala }}
                        </div>
                    </div>
                    <div class="row">
                        <div class='mt-4'>
                            <h5 class='text-muted'>Endereco IP e MAC</h5>
                            <hr>
                        </div>
                        
                        <div class="col-12 col-lg-6 mt-2">
                            <div class="d-flex justify-content-between">
                                <label class='form-label' for="id_predio">Enderço IP</label>
                            </div>
                            {{ form.endereco_ip }}
                            <span id="enderecoiphelp" class="form-text text-danger"></span>
                        </div>
                        <div class="col-12 col-lg-6 mt-2">
                            <div class="d-flex justify-content-between">
                                <label class='form-label' for="id_predio">Enderço MAC</label>
                            </div>
                            {{ form.endereco_mac }}
                        </div>
                    </div>
                    <div class="row">
                        <div class='mt-4'>
                            <h5 class='text-muted'>Informações Complementares</h5>
                            <hr>
                        </div>
                        
                        <div class="col-12 mt-2">
                            {{ form.descricao }}
                        </div>
                    </div>
                <div class="d-flex justify-content-end mt-3 mb-3">
                    <button id='btnenviar' class="btn btn-primary">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock corpo %}