{% extends 'teste.html' %}
{% load static %}

{% block button_adicionar %}
<button class="btn btn-success fonte-arial" data-bs-toggle='modal' data-bs-target='#modalImpressora'>Adicionar</button>
{% endblock %}

<!-- Titulo Página -->
{% block title %}
    Impressoras
{% endblock title %}

{% block titulo_lista %}
    Impressoras
{% endblock %}

{% block scripts %}
    <script>
        const forms_urls = {
            'impressora_nova_ajax': '{% url "impressora_nova_ajax" %}',
            'impressora_atualizar_ajax': '{% url "impressora_atualizar_ajax" %}',
            'impressora_delete': '{% url "impressora_delete" %}',
            'token': '{{csrf_token}}',
            'view_pc_na_impressora': '{% url "view_pc_na_impressora" %}',
        }
    </script>
{% endblock scripts %}

{% block tabela %}

{% if impressoras %}
{% for impressora in impressoras %}
<div class="row p-1 ps-lg-3 m-0 mt-2 shadow d-flex justify-content-between rounded item-pai" style="font-family: Arial, Helvetica, sans-serif;">
    <div class="col-auto p-0 d-flex align-items-center d-flex justify-content-center ">

        <!-- <img class='rounded-circle' style='width:7vh;' src="{% static impressora.url_img %}" alt=""> -->
        <i class="fas fa-print fa-2x"></i>
        
    </div>
    <div class="col-10 mt-0 item-filho hidden ms-4 ms-lg-4 p-lg-2">
        <div class="row m-0 p-0">
            <div class="col-12 col-lg-4 mb-lg-2">
                <ul class='list-group'>
                    <li class="list-group-item mt-0 p-0">
                        <b>Nome:</b> {{impressora.nome}}
                    </li>
                    <li class="list-group-item mt-1 p-0">
                        <b>Matricula:</b>{% if impressora.matricula %} {{impressora.matricula}}{% else %} Indisponível {% endif %}
                    </li>
                    <li class="list-group-item mt-1 p-0">
                        <b>Departamento:</b>{% if impressora.departamento %} {{impressora.departamento.departamento}}{% else %} Indisponível {% endif %}
                    </li>
                    <li class="list-group-item mt-1 p-0">
                        <b>Prédio:</b>{% if impressora.departamento %} {{impressora.departamento.predio}}{% else %} Indisponível {% endif %}
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <ul class='list-group'>
                    <li class="list-group-item mt-1 p-0">
                        <b>Modelo:</b>{% if impressora.modelo %} {{impressora.modelo}}{% else %} Indisponível {% endif %}
                    </li>
                    <li class="list-group-item mt-1  p-0">
                        <b>Endereço IP:</b> 
                        {% if impressora.ip_impressora.count %}
                        {{impressora.ip_impressora.first.ip_address }}
                        {% else %}
                        Indisponível
                        {% endif %}
                    </li>
                    <li class="list-group-item mt-1  p-0">
                        <b>Endereço MAC:</b>
                        {% if impressora.mac_impressora.count %}
                        {{impressora.mac_impressora.first.mac_address}}
                        {% else %}
                        Indisponível
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <ul class='list-group'>
                    <li class="list-group-item mt-1  p-0">
                        <b>Descricao:</b>
                        {% if impressora.descricao %}
                        {{impressora.descricao}}
                        {% else %}
                        Não possuo nenhuma informação ;c
                        {% endif %}
                    </li>
                    <li class="list-group-item mt-1 p-0">
                        <b>Computadores vinculados <span onclick='ShowPcsVinculadosImpre("{{impressora.id}}")'><i class="fas fa-eye fa-1x pe-2"></i></span></b>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col p-0 m-0 ps-3 d-flex justify-content-between">
        <div class='item-esconder'>
            <p class='mb-0 mt-2 '><b>{{impressora.nome}} </b></p>
            <span class='d-flex d-flex flex-column flex-lg-row mt-1'>
                <p class='mb-0 mt-0'>IP: {% for ip in impressora.ip_impressora.all %}{{ip}}{% endfor %}</p>
                <p class='mb-0 mt-0 ps-lg-2'>{% if impressora.mac_impressora.count %}- MAC: {% for mac in impressora.mac_impressora.all %}{{mac}}{%endfor %}{% endif%}</p>
            </span>
        </div>
        <span class='d-flex flex-column d-flex flex-lg-row d-flex align-items-center p-lg-2 d-flex d-flex justify-content-center'>
            <i class="fas fa-edit pe-1  pe-lg-3 mb-2 mb-lg-0" onclick="mostrarImpressoraAtualizar('{{impressora.id}}')"></i>
            <i class="fas fa-trash-alt pe-2" onclick="apagarImpressora('{{impressora.id}}')"></i>
        </span>
    </div>
</div>
{% endfor %}
{% else %}
<div class="row">
    <div class="col-12 shadow p-3">
        <h5 class='fonte-arial text-center'>Nada encontrado</h5>
    </div>
</div>
{% endif %}

{% endblock tabela %}

{% block modals %}
<div class="modal fade" tabindex="-1" id='modalImpressora'>
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="container p-0">
                    <div class="row p-0">
                        <div class="col-12 col-lg-4 p-5 d-flex justify-content-center d-flex align-items-center" style='background-color: purple;'>
                            <img style='width:20vw;' src="{% static 'img/impressoras.png' %}" alt="">
                        </div>
                        <div class="col-12 col-lg-8">
                            <div class="col p-3 pb-1 pt-4 d-flex justify-content-between">
                                <h5 style='font-family: Arial, Helvetica, sans-serif;' class='text-center'>
                                    <i class="fas fa-print pe-2"></i>
                                    Nova Impressora
                                </h5>
                                <span data-bs-dismiss='modal'>
                                    <i class="fas fa-times text-dark"></i>
                                </span>
                            </div>
                            <div class="col mt-1 mb-3">
                                <form id='form-impressoranova'>
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="form-group col-12 col-lg-6 mt-2">
                                            <label for="id_nome">Nome</label>
                                            {{form.nome}}
                                        </div>
                                        <div class="form-group col-12 col-lg-6 mt-2">
                                            <label for="id_modelo">Modelo</label>
                                            {{form.modelo}}
                                        </div>
                                        <div class="form-group col-12 col-lg-6 mt-2">
                                            <label for="id_departamento">Departamento</label>
                                            {{form.departamento}}
                                        </div>
                                        <div class="form-group col-12 col-lg-6 mt-2">
                                            <label for="id_matricula">Patrimônio/Gestpar-ID</label>
                                            {{form.matricula}}
                                        </div>
                                        <div class="form-group col-12 col-lg-6 mt-2">
                                            <label for="id_ip_endereco">Endereço IP</label>
                                            {{form.ip_endereco}}
                                        </div>
                                        <div class="form-group col-12 col-lg-6 mt-2">
                                            <label for="id_endereco_mac">Endereço MAC</label>
                                            {{form.endereco_mac}}
                                        </div>
                                        <div class="form-group col-12 col-lg-12 mt-2">
                                            <label for="id_descricao">Descrição</label>
                                            {{form.descricao}}
                                        </div>
                                        <div class="col-12 mt-3 d-flex justify-content-end">
                                            <button id='novaImpressoraButton' class="btn text-white" style='background-color: purple; color:black; font-family: Arial, Helvetica, sans-serif;'>Adicionar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id='modalImpressoraAtualizar'>
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="container p-0">
                    <div class="row p-0">
                        <div class="col-12 col-lg-4 p-5 d-flex justify-content-center d-flex align-items-center" style='background-color: purple;'>
                            <img style='width: 20vw;' src="{% static 'img/impressoras.png' %}" alt="">
                        </div>
                        <div class="col-12 col-lg-8">
                            <div class="col p-3 pb-1 pt-4 d-flex justify-content-between">
                                <h5 style='font-family: Arial, Helvetica, sans-serif;' class='text-center'>
                                    <i class="fas fa-print pe-2"></i>
                                    Atualizar Impressora
                                </h5>
                                <span data-bs-dismiss='modal'>
                                    <i class="fas fa-times text-dark"></i>
                                </span>
                            </div>
                            <div class="col mt-1 mb-3">
                                <form id='form-impressoraatualizar'>
                                    {% csrf_token %}
                                    <div class="row">
                                        <input type="hidden" name='impressora_id' id='id_impressora_id' value='None'>
                                        <div class="form-group col-12 col-lg-6 mt-2">
                                            <label for="id_nome">Nome</label>
                                            {{form.nome}}
                                        </div>
                                        <div class="form-group col-12 col-lg-6 mt-2">
                                            <label for="id_modelo">Modelo</label>
                                            {{form.modelo}}
                                        </div>
                                        <div class="form-group col-12 col-lg-6 mt-2">
                                            <label for="id_departamento">Departamento</label>
                                            {{form.departamento}}
                                        </div>
                                        <div class="form-group col-12 col-lg-6 mt-2">
                                            <label for="id_matricula">Patrimônio/Gestpar-ID</label>
                                            {{form.matricula}}
                                        </div>
                                        <div class="form-group col-12 col-lg-6 mt-2">
                                            <label for="id_ip_endereco">Endereço IP</label>
                                            {{form.ip_endereco}}
                                        </div>
                                        <div class="form-group col-12 col-lg-6 mt-2">
                                            <label for="id_endereco_mac">Endereço MAC</label>
                                            {{form.endereco_mac}}
                                        </div>
                                        <div class="form-group col-12 col-lg-12 mt-2">
                                            <label for="id_descricao">Descrição</label>
                                            {{form.descricao}}
                                        </div>
                                        <div class="col-12 mt-3 d-flex justify-content-end">
                                            <button id='AtualizarImpressoraButton' class="btn text-white" style='background-color:purple; color:white; font-family: Arial, Helvetica, sans-serif;'>Atualizar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id='modalApagarImpressora'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-light" style='background-color:rgb(204, 84, 84); font-family: Arial, Helvetica, sans-serif;'>
                <h5>
                    <i class="fas fa-trash-alt"></i>
                    Apagar Impressora?
                </h5>
                
                <span data-bs-dismiss='modal'>
                    <i class="fas fa-times text-light"></i>
                </span>
            </div>
            <div class="modal-body">
                <input id="apagarID" type="hidden" value='0'>
                <div class="col p-2">
                    <div class="col" style="font-family: Arial, Helvetica, sans-serif;">
                        Caso você continue com esse processo a impressora será apagada sem que os computadores a ela vinculados sofra alterações.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" style='font-family: Arial, Helvetica, sans-serif; color:black;' data-bs-dismiss='modal'>Cancelar</button>
                <button onclick='confirmarRemoverImpressora()' class="btn text-light" style='background-color:rgb(204, 84, 84); font-family: Arial, Helvetica, sans-serif;'>Apagar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id='modalShowComputerPrinter'>
    <div class="modal-dialog modal-xl">
        <div class="modal-content p-0 m-0">
            <div class="modal-body p-0 m-0">
                <div class="row p-0 m-0">
                    <div class="col-12 d-flex justify-content-end bg-secondary p-2 pe-3">
                        <span data-bs-dismiss='modal'>
                            <i class="fas fa-times text-light"></i>
                        </span>
                    </div>
                    <div class="col-12 col-lg-4 bg-secondary p-0 m-0 d-flex justify-content-center">
                        <div class="container-fluid fonte-arial">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium est quibusdam laborum! Nostrum, totam. Doloremque, ut quibusdam blanditiis molestiae exercitationem maiores dolor expedita fugit quam tempora quos soluta officia deserunt.
                        </div>
                    </div>
                    
                    <div class="col-12 col-lg-8 fonte-arial overflow-auto p-2" style='min-height:40vh; max-height: 80vh;' id='viewPcImpressora'>
                        <div class="row p-0 item-pai">
                            <div class="col-12 p-2 m-0 shadow ">
                                <div class="row p-0 m-0">
                                    <div class="col-auto d-flex align-items-center">
                                        <i class="fas fa-laptop-code fa-2x " aria-hidden="true"></i>
                                    </div>
                                    <div class="col d-flex justify-content-between">
                                        <span class='pt-1'>
                                            <p class="p-0 m-0"><b>PRE-10</b></p>
                                            <p class="p-0 m-0">as</p>
                                        </span>
                                        <span class='d-flex align-items-center'>
                                            <i class="fas fa-eye"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock modals %}

{% block nav_paginacao %}
    {% if impressoras.has_previous %}
    <li class="page-item text-dark fonte-arial text-decoration-none"><a class="page-link" href="{% url 'impressora_view' impressoras.previous_page_number %}{% if pesquisa %}?query={{ pesquisa }}{% endif %}">Voltar</a></li>
    {% endif %}
    {% if impressoras.has_other_pages %}
    <li class="page-item active text-dark fonte-arial text-decoration-none"><a class="page-link"  href="#">{{ impressoras.number }}</a></li>
    {% endif %}
    {% if impressoras.has_next %}
    <li class="page-item text-dark fonte-arial text-decoration-none"><a class="page-link" href="{% url 'impressora_view' impressoras.next_page_number %}{% if pesquisa %}?query={{ pesquisa }}{% endif %}">Next</a></li>
    {% endif %}
{% endblock nav_paginacao %}