{% extends 'base.html' %}
{% load static %}

{% block title %}
    Departamentos
{% endblock title %}


{% block corpo %}
<style>
    body {
        background-color:rgb(235, 232, 232);
        border-style:none;
    }
    td a {
        text-decoration: none;
        color:#6c757d!important;
    }
    {% block style %}
    
    {% endblock style %}
</style>
<main>
    <div class="container mb-5" id="primeiro">
        <div class="row">
            
            <div class="card mt-2 bg-dark">
                <div class="card-header">
                    <div class="d-flex justify-content-between p-3">
                        <div class='col-lg'>
                            <form>
                                <div class="input-group">
                                    <input type="search" name='query' class="form-control bg-dark text-light rounded border-secondary" placeholder="Pesquisar" aria-label="Search"
                                    aria-describedby="search-addon" autocomplete="off"/>
                                    {% block botao_pesquisa %}
                                    <button type="submit" class="btn btn-outline-primary">Procurar</button>
                                    {% endblock botao_pesquisa%}
                                  </div>
                            </form>
                        </div>
                        <div class='ms-3'>
                            {% block button_adicionar %}
                            <a href='{{ BASE_DIR }}/departamento/departamento/add' class="btn btn-success">Adicionar</a>
                            {% endblock button_adicionar %}
                        </div>
                    </div>
                </div>
                {% block tabela %}

                {% endblock tabela %}
                <div class="card-footer bg-dark">
                    <div class="container d-flex justify-content-center">
                        <nav aria-label='Paginador navegação'>
                            <ul class="pagination">
                            {% block nav_paginacao %}
                            {% endblock nav_paginacao %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% block modals %}
{% endblock modals %}
</main>

{% endblock %}