{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Prefeitura Municipal{% endblock title %}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <!-- BootStrap5 -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
        <div class="container" id='nav-container'>
            <nav class='navbar navbar-expand-lg fixed-top'>
                <a href="/" class='navbar-brand'>
                    <img src="{% static 'img/logo.png' %}" id="logo" alt="Logo">Prefeitura Municipal de Arapoti
                </a>

                <button class='navbar-toggler' type='button' data-toggle='colapse' data-target='#navbar-links' aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                    </span>
                </button>
                <div class="collapse navbar-collapse  justify-content-end" id='navbar-links'>
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href='#' id='home-menu'>
                            <i class="fas fa-home"></i> Home
                        </a>
                        {% if user.is_authenticated %}
                            <a class="nav-item nav-link" href='#' id='home-menu'>
                                <i class="fa fa-user" aria-hidden="true"></i> Perfil
                            </a>
                        {% endif %}
                        {% if not user.is_authenticated %}
                            <a class="nav-item nav-link" href='{{ BASE_URL }}/accounts/login/'>
                                <i class="fa fa-sign-in" aria-hidden="true"></i> Login
                            </a>
                        {% endif %}
                        <a class="nav-item nav-link" href='#' id='home-menu'>
                            <i class="fas fa-info-circle"></i>
                            Contato
                        </a>
                        {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href='{{ BASE_URL }}/accounts/logout/' id='home-menu'>
                            <i class="fa fa-sign-out" aria-hidden="true"></i> Sair
                        </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
    </header>


    <main>
        <div class="container-fluid">
            <div class="meuslide">
            </div>
        </div>
    </main>
    {% block corpo %}

    {% endblock corpo %}

    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Font Awensome -->
    <script src="https://kit.fontawesome.com/6953b3b378.js" crossorigin="anonymous"></script>
</body>
</html>