{% extends 'base_listagem.html' %}
{% load static %}

{% block title %}
Consulta IP
{% endblock title %}

{% block button_adicionar %}
<button class="btn btn-success fonte-arial" data-bs-toggle='modal' data-bs-target='#modalReservarIp'>Adicionar</button>
{% endblock button_adicionar %}

{% block tabela %}

{% if enderecos %}
{% for endereco in enderecos %}

{% if endereco.tipo == 'Computador'%}
<!-- Computador -->
<div class="row p-1 ps-lg-3 m-0 mt-2 shadow d-flex justify-content-between rounded item-pai" style="font-family: Arial, Helvetica, sans-serif;">
    <div class="col-auto p-0 d-flex align-items-center d-flex justify-content-center ">
        <i class="fas fa-laptop-code fa-2x " aria-hidden="true"></i>
    </div>
    <div class="col-10 mt-0 item-filho hidden ms-4 ms-lg-4 p-lg-2">
        <div class="row m-0 p-0">
            <div class="col-12 col-lg-4 mb-lg-2">
                <ul class='list-group'>
                    <li class="list-group-item mt-0 p-0">
                        <b>Nome Rede:</b> {{endereco.parente.nome_rede}}
                    </li>
                    <li class="list-group-item mt-1 p-0">
                        <b>Sistema Operacional:</b>{% if endereco.parente.sistema_op %} {{endereco.parente.sistema_op}}{% else %} Indisponível {% endif %}
                    </li>
                    <li class="list-group-item mt-1 p-0">
                        <b>Memória RAM:</b>{% if endereco.parente.memoria_ram %} {{endereco.parente.memoria_ram}}{% else %} Indisponível {% endif %}
                    </li>
                    <li class="list-group-item mt-1 p-0">
                        <b>HD:</b>{% if endereco.parente.hd %} {{endereco.parente.hd.tamanho}}{% else %} Indisponível {% endif %}
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <ul class='list-group'>
                    <li class="list-group-item mt-1  p-0">
                        <b>AnyDesk:</b>{% if endereco.parente.anydesk %} {{endereco.parente.anydesk}}{% else %} Indisponível {% endif %}
                    </li>
                    <li class="list-group-item mt-1  p-0">
                        <b>Processador:</b>
                        {% if endereco.parente.processador %}
                        {{endereco.parente.processador.modelo}}
                        {% if endereco.parente.processador.frequencia %}
                            {{endereco.parente.processador.frequencia }} Ghz
                        {% endif %}
                        {% else %}
                        Indisponivel
                        {% endif %}
                    </li>
                    <li class="list-group-item mt-1  p-0">
                        <b>Placa Mãe:</b>
                        {% if endereco.parente.placa_mae %}
                        {{endereco.parente.placa_mae.marca}} - {{endereco.parente.placa_mae.modelo }}
                        {% else %}
                        Indisponivel
                        {% endif %}
                    </li>
                    <li class="list-group-item mt-1 p-0">
                        <b>Gabinete Patrimônio</b>
                        {% if endereco.parente.gabinete.patrimonio %}
                        {{ endereco.parente.gabinete.patrimonio }}
                        {% else %}
                        Indisponível
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <ul class='list-group'>
                    <li class="list-group-item mt-1  p-0">
                        <b>Endereço IP:</b> 
                        {% if endereco.parente.ip_computador.count %}
                        {{endereco.parente.ip_computador.first.ip_address }}
                        {% else %}
                        Indisponível
                        {% endif %}
                    </li>
                    <li class="list-group-item mt-1  p-0">
                        <b>Endereço MAC:</b>
                        {% if endereco.parente.mac_computador.count %}
                        {{endereco.parente.mac_computador.first.mac_address}}
                        {% else %}
                        Indisponível
                        {% endif %}
                    </li>
                    <li class="list-group-item mt-1  p-0">
                        <b>Placa Mãe:</b>
                        {% if endereco.parente.placa_mae %}
                        {{endereco.parente.placa_mae.marca}} - {{endereco.parente.placa_mae.modelo }}
                        {% else %}
                        Indisponivel
                        {% endif %}
                    </li>
                    <li class="list-group-item mt-1 p-0">
                        <b>Monitor Patrimônio:</b>
                        {% if endereco.parente.monitor.count%}
                        {% for monitor in endereco.parente.monitor.all %}
                        {{ monitor.patrimonio }}
                        {% endfor %}
                        {% else %}
                        Indisponível
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col p-0 m-0 ps-3 d-flex justify-content-between">
        <div class='item-esconder'>
            <p class='mb-0 mt-2 '><b>{{endereco.parente.nome_rede}}</b></p>
            <span class='d-flex d-flex flex-column flex-lg-row mt-1' id='corpo-pesquisa'>
                <p class='mb-0 mt-0'>IP: {% for ip in endereco.parente.ip_computador.all %}{{ip}}{% endfor %}</p>
                <p class='mb-0 mt-0 ps-lg-2'>MAC: {% for mac in endereco.parente.mac_computador.all %}{{mac.endereco_mac}}{%endfor %}</p>
            </span>
        </div>
        <span class='d-flex align-items-center d-flex me-4 text-dark'>
            <a href="{% url 'computador_visualizar' endereco.parente.id 'principal' %}"><i class="fas fa-eye"></i></a>
        </span>
    </div>
</div>
{% elif endereco.tipo == 'Impressora' %}
<div class="row p-1 ps-lg-3 m-0 mt-2 shadow d-flex justify-content-between rounded item-pai" style="font-family: Arial, Helvetica, sans-serif;">
    <div class="col-auto p-0 d-flex align-items-center d-flex justify-content-center ">
        <i class="fas fa-print fa-2x"></i>        
    </div>
    <div class="col-10 mt-0 item-filho hidden ms-4 ms-lg-4 p-lg-2">
        <div class="row m-0 p-0">
            <div class="col-12 col-lg-4 mb-lg-2">
                <ul class='list-group'>
                    <li class="list-group-item mt-0 p-0">
                        <b>Nome:</b> {{endereco.parente.nome}}
                    </li>
                    <li class="list-group-item mt-1 p-0">
                        <b>Matricula:</b>{% if endereco.parente.matricula %} {{endereco.parente.matricula}}{% else %} Indisponível {% endif %}
                    </li>
                    <li class="list-group-item mt-1 p-0">
                        <b>Departamento:</b>{% if endereco.parente.departamento %} {{endereco.parente.departamento.departamento}}{% else %} Indisponível {% endif %}
                    </li>
                    <li class="list-group-item mt-1 p-0">
                        <b>Prédio:</b>{% if endereco.parente.departamento %} {{endereco.parente.departamento.predio}}{% else %} Indisponível {% endif %}
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <ul class='list-group'>
                    <li class="list-group-item mt-1 p-0">
                        <b>Modelo:</b>{% if endereco.parente.modelo %} {{endereco.parente.modelo}}{% else %} Indisponível {% endif %}
                    </li>
                    <li class="list-group-item mt-1  p-0">
                        <b>Endereço IP:</b> 
                        {% if endereco.parente.ip_impressora.count %}
                        {{endereco.parente.ip_impressora.first.ip_address }}
                        {% else %}
                        Indisponível
                        {% endif %}
                    </li>
                    <li class="list-group-item mt-1  p-0">
                        <b>Endereço MAC:</b>
                        {% if endereco.parente.mac_impressora.count %}
                        {{endereco.parente.mac_impressora.first.mac_address}}
                        {% else %}
                        Indisponível
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <ul class='list-group'>
                    <li class="list-group-item mt-1  p-0">
                        <b>Descrição:</b>
                        {% if endereco.parente.descricao %}
                        {{endereco.parente.descricao}}
                        {% else %}
                        Não possuo nenhuma informação ;c
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col p-0 m-0 ps-3 d-flex justify-content-between">
        <div class='item-esconder'>
            <p class='mb-0 mt-2 '><b>{{endereco.parente.nome}} </b></p>
            <span class='d-flex d-flex flex-column flex-lg-row mt-1'>
                <p class='mb-0 mt-0'>IP: {% for ip in endereco.parente.ip_impressora.all %}{{ip}}{% endfor %}</p>
                <p class='mb-0 mt-0 ps-lg-2'>{% if endereco.parente.mac_impressora.count %}- MAC: {% for mac in endereco.parente.mac_impressora.all %}{{mac}}{%endfor %}{% endif%}</p>
            </span>
        </div>
        <span class='d-flex align-items-center d-flex me-4 text-dark'>
            <a href="{% url 'impressora_view' 1 %}?query={{endereco.ip}}"><i class="fas fa-eye"></i></a>
        </span>
    </div>
</div>
{% elif endereco.tipo == 'Reservado' %}

{% else %}
<div class="row p-1 ps-lg-3 m-0 mt-2 shadow d-flex" style="font-family: Arial, Helvetica, sans-serif;" id='modificar'>
    <div class="col-auto p-0 d-flex align-items-center d-flex justify-content-center ">
        <i class="fas fa-hdd fa-2x"></i>
    </div>
    <div class="col p-0 m-0 ps-3 d-flex justify-content-between">
        <div class='item-esconder'>
            <p class='mb-0 mt-2 '><b>{{endereco.tipo}}</b></p>
            <span class='d-flex d-flex flex-column flex-lg-row mt-1'>
                <p class='mb-0 mt-0'>IP: {{endereco.ip}}</p>
            </span>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endif%}

{% endblock tabela %}



{% block scripts %}

{% endblock scripts %}

{% block modals %}
<div class="modal fade" tabindex="-1" id='modalReservarIp'>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between bg-primary">
          <h5 style='font-family: Arial, Helvetica, sans-serif;' class='text-light'>
            <i class="fas fa-shield-alt pe-2"></i>
              Reservar Endereço IP
            </h5>
          <span data-bs-dismiss="modal">
              <i class="fas fa-times text-light"></i>
          </span>
        </div>
        <div class="modal-body">
          <div class="col-12 p-2">
            <form method='POST' id='form-ReservarIP'>
              {%csrf_token %}
              <div class="form-group mb-2">
                <label for="id_titulo">Titulo Reserva</label>
                {{form.titulo}}
              </div>
              <div class="form-group mb-2">
                <label for="id_ip_reservado">Endereço IP Reservado</label>
                {{form.ip_reservado}}
              </div>
              <div class="form-group mb-2">
                <label for="id_descricao">Descrição</label>
                {{form.descricao}}
              </div>
              <div class="form-group d-flex justify-content-end">
                <button class="btn btn-primary" style='font-family: Arial, Helvetica, sans-serif;'>Adicionar</button>
              </div>
            </form>
        </div>
        </div>
      </div>
    </div>
  </div>
{% endblock modals %}

{% block nav_paginacao %}
    {% if enderecos.has_previous %}
    <li class="page-item text-dark fonte-arial text-decoration-none"><a class="page-link" href="{% url 'pesquisar_endereco_ip' enderecos.previous_page_number %}{% if pesquisa %}?query={{ pesquisa }}{% endif %}">Voltar</a></li>
    {% endif %}
    {% if enderecos.has_other_pages %}
    <li class="page-item active text-dark fonte-arial text-decoration-none"><a class="page-link"  href="#">{{ enderecos.number }}</a></li>
    {% endif %}
    {% if enderecos.has_next %}
    <li class="page-item text-dark fonte-arial text-decoration-none"><a class="page-link" href="{% url 'pesquisar_endereco_ip' enderecos.next_page_number %}{% if pesquisa %}?query={{ pesquisa }}{% endif %}">Next</a></li>
    {% endif %}
{% endblock nav_paginacao %}