{% extends 'base.html' %}


{% block title %}
    Editar Monitor
{% endblock title %}

{% block corpo %}
<style>
    body {
        background-color:rgb(235, 232, 232);
    }
    #primeiro {
        margin-top: 150px;
        font-family: 'Times New Roman', Times, serif;
    }
    {% for campo in field_erros %}
    [name={{campo}}] {
        border-color:red;
    }
    {% endfor %}
    /* Responsive */
    @media (min-width: 992px) {
        #primeiro {
            margin-top: 100px;
        }
    }
    @media (min-width: 1200px) {
        #primeiro {
            margin-top: 100px;
        }
    }
</style>
<main>
    <div class="container" id='primeiro'>
        <div class="container-fluid" >
            {% if mensagens %}
            <div class="alert alert-danger" role='alert'>
                {% for value in mensagens %}
                    {{ value }}
                {% endfor %}
            </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class='mt-2'>
                            <h5 class='text-muted'>Informações Básicas</h5>
                            <hr>
                        </div>                       
                        <div class="col-12 col-lg-6">
                            <label class='form-label' for="id_predio">Marca *</label><br>
                            {{ form.marca }}
                        </div>
                        <div class="col-12 col-lg-6">
                            <label class='form-label' for="id_predio">Patrimônio</label><br>
                            {{ form.patrimonio }}
                        </div>
                        <div class="col-12 col-lg-6 mt-2">
                            <label class='form-label' for="id_predio">HDMI</label><br>
                            {{ form.hdmi }}
                        </div>
                        <div class="col-12 col-lg-6 mt-2">
                            <label class='form-label' for="id_predio">Tamanho</label><br>
                            {{ form.tamanho }}
                        </div>
                    </div>
                    <div class="row">
        
                        <div class='mt-4'>
                            <h5 class='text-muted'>Informações Complementares</h5>
                            <hr>
                        </div>
                        <div class="col-12 mt-0">
                            <label class='form-label' for="id_predio">Anotação</label><br>
                            {{ form.descricao }}
                        
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3 mb-3">
                    <button class="btn btn-primary">Editar</button>
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock corpo %}