{% extends 'teste.html' %}
{% load static %}

{% block title %}
Usuários Administração
{% endblock title %}

{% block scripts %}
<script>
    form_urls = {
        'remover_usuario_ajax': '{% url "remover_usuario_ajax" %}',
        'adicionar_usuario_ajax': '{% url "adicionar_usuario_ajax" %}',
        'dados_usuario_ajax': '{% url "dados_usuario_ajax" %}',
        'editar_usuario_ajax': '{% url "editar_usuario_ajax" %}'
    }
</script>
{% endblock scripts %}

{% block style %}

.texto {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
.li-texto {
    font-family: Arial, Helvetica, sans-serif;
}
.input-modal input {
    border: solid rgba(185, 179, 179, 0.562) 1px;
}
.lista-u {
    transform: scale(1.01);
    transition: 1s;
    margin-left: 13px;
    
}
{% endblock style %}

{% block tabela %}

{% for usuario in usuarios %}
<div class="col-12 shadow p-1 mb-1 bg-white rounded fonte-arial">
    <div class="row p-2 item-user">
        <div class="col-auto p-0 d-flex justify-content-center d-flex align-items-center">
            <img style='width: 6vh;' class='rounded-circle' src="{% static 'img/funcionario.jpg' %}" alt="">
        </div>
        <div class="col d-flex justify-content-between">
            <span class='text-dark'>
                <b>
                    {% if usuario.first_name %}
                    {{usuario.first_name.capitalize}}
                    {% elif usuario.username %}
                    {{usuario.username.capitalize}}
                    {% endif %}
                    {% if usuario.last_name %}
                    {{usuario.last_name.capitalize}}
                    {% endif %}
                </b>
                <p class='mb-0'>
                    {{usuario.UsuarioPerfil.nivel}}
                </p>
            </span>
            <span class='d-flex align-items-center text-dark'>
                <i class="fas fa-user-edit pe-2" data-bs-toggle='modal' onclick='ModalEditarUsuario("{{usuario.id}}")'></i>
                <i class="fas fa-trash-alt" onclick='ModalRemoverUsuario("{{usuario.id}}")'></i>
            </span>
        </div>
    </div>
</div>
{% endfor %}
{% endblock tabela %}

{% block button_adicionar%}
<div class="d-flex justify-content-end mt-0 fonte-arial">
    <button data-bs-toggle='modal' data-bs-target='#modalCriarUsuario' class="btn btn-success ms-1 d-flex">Adicionar</button>
</div>
{% endblock button_adicionar %}

{% block botao_pesquisa %}
<button type="submit" class="btn btn-primary fonte-arial" id='pesquisa_btn'>Pesquisa</button>
{% endblock botao_pesquisa %}

{% block modals %}
<div class="modal fade" tabindex="-1" id="modalCriarUsuario">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success texto">
                <h5>
                    <i class="fas fa-user-plus pe-2x"></i>
                    Adicionar Novo Usuário
                </h5>
                <span data-bs-dismiss='modal'>
                    <i class="fas fa-times text-light texto"></i>
                </span>
            </div>
            <div class="modal-body" style="font-family: Arial, Helvetica, sans-serif;">
                <form id='form-adicionarFun'>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="#id_username">Nome de Usuário</label>
                        <input type="text" placeholder='Exemplo: joao' name='username' id='id_username' class='form-control'>
                    </div>
                    <div class="form-group mt-2">
                        <label for="#id_password1">Senha de Usuário</label>
                        <input type="password" placeholder='Digite uma senha' name='password1' id='id_password1' class='form-control'>
                    </div>
                    <div class="form-group mt-2">
                        <label for="#id_password2">Confirmar Senha</label>
                        <input type="password" placeholder='Confirme a senha anterior' name='password2' id='id_password2' class='form-control'>
                    </div>
                    <div class="form-group mt-3">
                        <div class="col ps-3">
                            <li>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li>
                            <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
                            <li>Sua senha não pode ser uma senha comumente utilizada.</li>
                            <li>Sua senha não pode ser inteiramente numérica.</li>
                        </div>
                    </div>
                </form>
                
            </div>
            <div class="modal-footer">
                <button id='btnAddUsuario' class="btn btn-success texto">Adicionar</button>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" tabindex="-1" id='modalRemoverFuncionario'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class='texto'>
                    <i class="fas fa-trash-alt pe-2"></i>
                    Remover Usuário
                </h5>
                <span data-bs-dismiss='modal'>
                    <i class="fas fa-times text-light texto"></i>
                </span>
            </div>
            <div class="modal-body">
                <span style="font-family: Arial, Helvetica, sans-serif;">
                    Você tem certeza que deseja remover esse usuário?<br>
                    Caso você remova, não será possivel recuperar as informações vinculadas a este usuário.
                </span>
            </div>
            <div class="modal-footer">
                <button data-bs-dismiss='modal' class="btn btn secondary border border-primary" style="color: black; font-family:Arial, Helvetica, sans-serif;">Cancelar</button>
                <button id='btnRemover' class='btn btn-danger texto'>Remover</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id='modalEditarUser'>
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <!-- Parte da imagem -->
                        <div class="col-12 mt-2 d-flex justify-content-center">
                            <img class='rounded-circle' src="{% static 'img/funcionario.jpg' %}" alt="img-funcionario" style='width: 25vh;'>
                        </div>
                        <!-- Corpo em baixo da img -->
                        <div class="col-12 mt-4">
                            <h3 class='text-center' id='nome_usuario'>Gustavo de Oliveira</h3>
                            <h5 class='text-center'><b>Administrador</b></h5>
                        </div>
                        <div class="col-12 mt-3 mb-3">
                            <ul class='list-group'>
                                <li class="list-group-item">
                                    <i class="fas fa-user-tag pe-2"></i>
                                    <span class='li-texto' id='id_usernamem'>
                                        gustavo
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-envelope pe-2"></i>
                                    <span class='li-texto' id='id_emailm'>
                                        gugusoliveira72@gmail.com
                                    </span>
                                </li>
                                <li class='list-group-item'>
                                    <i class="fas fa-birthday-cake pe-2"></i>
                                    <span class='li-texto' id='id_birthdaym'>
                                        14/08/2003
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-lg-9">
                        <!-- Parte de cima, titulo e botão sair. -->
                        <div class="col-12 d-flex justify-content-between">
                            <span style='font-family: Arial, Helvetica, sans-serif;' class='mt-2'>
                                <h5>
                                    Alterar Informações do usuário.
                                </h5>
                            </span>
                            <i class="fas fa-sign-out-alt" data-bs-dismiss="modal"></i>
                        </div>
                        <!-- Corpo com informações  -->
                        <div class="col-12 mt-2">
                            <form id='form-editarUsuario'>
                                <div class="row">
                                    <!-- ID Usuario -->
                                    <input type="hidden" id='id_usuario' name='id_usuario'>
                                    <div class="col-12 col-lg-6 input-modal">
                                        <div class="form-group">
                                            <label for="id_first_name" class='li-texto'>Nome</label>
                                            <input id='id_first_name' name='first_name' type="text" class="form-control li-texto" placeholder='Nome' value='Gustavo'>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <label for="id_last_name" class='li-texto'>Sobrenome</label>
                                            <input id='id_last_name' name='last_name' type="text" class="form-control li-texto" placeholder='Sobrenome' value='Oliveira'>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 input-modal mt-2">
                                        <div class="form-group">
                                            <label for="id_email" class='li-texto'>Email</label>
                                            <input id='id_email' name='email' type="text" class="form-control li-texto" placeholder='email@exemplo.com' value='gugusoliveira72@gmail.com'>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-6 input-modal mt-2">
                                        <div class="form-group">
                                            <label for="id_birthday" class='li-texto'>Aniversário</label>
                                            <input id='id_birthday' name='birthday' type="text" class="form-control li-texto" placeholder='14/08/2003' value='14/08/2003'>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 input-modal mt-2">
                                        <div class="form-group">
                                            <label for="id_nivel" class='li-texto'>Nivel</label>
                                            <input id='id_nivel' name='nivel' type="text" class="form-control li-texto" placeholder='Administrador' value='Administrador'>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mt-2">
                                        <div class="form-group">
                                            <label class='li-texto' for="#">Permissões usuário</label>
                                            <div class="card shadow">
                                                <div class="card-content">
                                                    <div class="card-header d-flex justify-content-between">
                                                        <span class='li-texto'>
                                                            Permissões de acesso.
                                                        </span>
                                                        <span class='d-flex flex-column flex-lg-row'>
                                                            <div class="col form-check pe-3">
                                                                <input type="checkbox" class='form-check-input' id='chkVisulAll'>
                                                                <label for="chkVisulAll" class='form-check-label li-texto'>Permitir</label>
                                                            </div>
                                
                                                        </span>
                                                    </div>
                                                    <div class="card-body overflow-auto" style='max-height: 30vh;'>
                                                        <ul class="list-group">
                                                            <li class="list-group-item">
                                                                <div class="col d-flex justify-content-between li-texto">
                                                                    <span>
                                                                        Visualizar Departamentos
                                                                    </span>
                                                                    <div class='form-check'>
                                                                        <input type="checkbox" class="form-check-input" id='id_cview_departamento' name='cview_departamento'>
                                                                        <label for="id_cview_departamento" class="form-check-label">Permitir</label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="col d-flex justify-content-between li-texto">
                                                                    <span>
                                                                        Adicionar Departamentos
                                                                    </span>
                                                                    <div class='form-check'>
                                                                        <input type="checkbox" class="form-check-input" id='id_cadd_departamento' name='cadd_departamento'>
                                                                        <label for="id_cadd_departamento" class="form-check-label">Permitir</label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="col d-flex justify-content-between li-texto">
                                                                    <span>
                                                                        Editar Departamentos
                                                                    </span>
                                                                    <div class='form-check'>
                                                                        <input type="checkbox" class="form-check-input" id='id_cchange_departamento' name='cchange_departamento'>
                                                                        <label for="id_cchange_departamento" class="form-check-label">Permitir</label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="col d-flex justify-content-between li-texto">
                                                                    <span>
                                                                        Remover Departamentos
                                                                    </span>
                                                                    <div class='form-check'>
                                                                        <input type="checkbox" class="form-check-input" id='id_cdelete_departamento' name='cdelete_departamento'>
                                                                        <label for="id_cdelete_departamento" class="form-check-label">Permitir</label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <!-- Funcionários -->
                                                            <li class="list-group-item">
                                                                <div class="col d-flex justify-content-between li-texto">
                                                                    <span>
                                                                        Visualizar Funcionarios
                                                                    </span>
                                                                    <div class='form-check'>
                                                                        <input type="checkbox" class="form-check-input" id='id_cview_funcionario' name='cview_funcionario'>
                                                                        <label for="id_cview_funcionario" class="form-check-label">Permitir</label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="col d-flex justify-content-between li-texto">
                                                                    <span>
                                                                        Adicionar Funcionarios
                                                                    </span>
                                                                    <div class='form-check'>
                                                                        <input type="checkbox" class="form-check-input" id='id_cadd_funcionario' name='cadd_funcionario'>
                                                                        <label for="id_cadd_funcionario" class="form-check-label">Permitir</label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="col d-flex justify-content-between li-texto">
                                                                    <span>
                                                                        Editar Funcionarios
                                                                    </span>
                                                                    <div class='form-check'>
                                                                        <input type="checkbox" class="form-check-input" id='id_cchange_funcionario' name='cchange_funcionario'>
                                                                        <label for="id_cchange_funcionario" class="form-check-label">Permitir</label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="col d-flex justify-content-between li-texto">
                                                                    <span>
                                                                        Remover Funcionarios
                                                                    </span>
                                                                    <div class='form-check'>
                                                                        <input type="checkbox" class="form-check-input" id='id_cdelete_funcionario' name='cdelete_funcionario'>
                                                                        <label for="id_cdelete_funcionario" class="form-check-label">Permitir</label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <!-- Computadores -->
                                                            <li class="list-group-item">
                                                                <div class="col d-flex justify-content-between li-texto">
                                                                    <span>
                                                                        Visualizar Computadores
                                                                    </span>
                                                                    <div class='form-check'>
                                                                        <input type="checkbox" class="form-check-input" id='id_cview_computador' name='cview_computador'>
                                                                        <label for="id_cview_computador" class="form-check-label">Permitir</label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="col d-flex justify-content-between li-texto">
                                                                    <span>
                                                                        Adicionar Computadores
                                                                    </span>
                                                                    <div class='form-check'>
                                                                        <input type="checkbox" class="form-check-input" id='id_cadd_computador' name='cadd_computador'>
                                                                        <label for="id_cadd_computador" class="form-check-label">Permitir</label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                
                                                            <li class="list-group-item">
                                                                <div class="col d-flex justify-content-between li-texto">
                                                                    <span>
                                                                        Editar Computadores
                                                                    </span>
                                                                    <div class='form-check'>
                                                                        <input type="checkbox" class="form-check-input" id='id_cchange_computador' name='cchange_computador'>
                                                                        <label for="id_cchange_computador" class="form-check-label">Permitir</label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="col d-flex justify-content-between li-texto">
                                                                    <span>
                                                                        Remover Computadores
                                                                    </span>
                                                                    <div class='form-check'>
                                                                        <input type="checkbox" class="form-check-input" id='id_cdelete_computador' name='cdelete_computador'>
                                                                        <label for="id_cdelete_computador" class="form-check-label">Permitir</label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <!-- Roteadores -->
                                                            <li class="list-group-item">
                                                                <div class="col d-flex justify-content-between li-texto">
                                                                    <span>
                                                                        Visualizar Roteadores
                                                                    </span>
                                                                    <div class='form-check'>
                                                                        <input type="checkbox" class="form-check-input" id='id_cview_roteador' name='cview_roteador'>
                                                                        <label for="id_cview_roteador" class="form-check-label">Permitir</label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="col d-flex justify-content-between li-texto">
                                                                    <span>
                                                                        Adicionar Roteadores
                                                                    </span>
                                                                    <div class='form-check'>
                                                                        <input type="checkbox" class="form-check-input" id='id_cadd_roteador' name='cadd_roteador'>
                                                                        <label for="id_cadd_roteador" class="form-check-label">Permitir</label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                
                                                            <li class="list-group-item">
                                                                <div class="col d-flex justify-content-between li-texto">
                                                                    <span>
                                                                        Editar Roteadores
                                                                    </span>
                                                                    <div class='form-check'>
                                                                        <input type="checkbox" class="form-check-input" id='id_cchange_roteador' name='cchange_roteador'>
                                                                        <label for="id_cchange_roteador" class="form-check-label">Permitir</label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="col d-flex justify-content-between li-texto">
                                                                    <span>
                                                                        Remover Roteadores
                                                                    </span>
                                                                    <div class='form-check'>
                                                                        <input type="checkbox" class="form-check-input" id='id_cdelete_roteador' name='cdelete_roteador'>
                                                                        <label for="id_cdelete_roteador" class="form-check-label">Permitir</label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <!-- Impressoras -->
                                                            <li class="list-group-item">
                                                                <div class="col d-flex justify-content-between li-texto">
                                                                    <span>
                                                                        Visualizar Impressoras
                                                                    </span>
                                                                    <div class='form-check'>
                                                                        <input type="checkbox" class="form-check-input" id='id_cview_impressora' name='cview_impressora'>
                                                                        <label for="id_cview_impressora" class="form-check-label">Permitir</label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="col d-flex justify-content-between li-texto">
                                                                    <span>
                                                                        Adicionar Impressoras
                                                                    </span>
                                                                    <div class='form-check'>
                                                                        <input type="checkbox" class="form-check-input" id='id_cadd_impressora' name='cadd_impressora'>
                                                                        <label for="id_cadd_impressora" class="form-check-label">Permitir</label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                
                                                            <li class="list-group-item">
                                                                <div class="col d-flex justify-content-between li-texto">
                                                                    <span>
                                                                        Editar Impressoras
                                                                    </span>
                                                                    <div class='form-check'>
                                                                        <input type="checkbox" class="form-check-input" id='id_cchange_impressora' name='cchange_impressora'>
                                                                        <label for="id_cchange_impressora" class="form-check-label">Permitir</label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="col d-flex justify-content-between li-texto">
                                                                    <span>
                                                                        Remover Impressoras
                                                                    </span>
                                                                    <div class='form-check'>
                                                                        <input type="checkbox" class="form-check-input" id='id_cdelete_impressora' name='cdelete_impressora'>
                                                                        <label for="id_cdelete_impressora" class="form-check-label">Permitir</label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- here -->
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0">
                <button onclick='AdmEditarUsuario()' class="btn btn-secondary li-texto">Editar</button>
            </div>
        </div>
    </div>
</div>
{% endblock modals %}